{% extends "carrera/base.html" %}
{% load staticfiles %}

{% block title %}Odontología{% endblock %} 

{% block content %}
<!--What makes us different-->   
<div class="row"> 
    <section class="section-100-up section-30-down marco-video">
        <div class="shell">
            <h3>Multimedia</h3>
            <hr class="divider divider-lg bg-primary">
            <div class="row">
                <div class="col-md-6 marco-video">
                    <iframe src="https://www.youtube.com/embed/iQeiUi-U2eM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="msg">
                      <span class="fa-quote-left"></span>Reccomendaciones odontológicas durante el covid-19<span class="fa-quote-right"></span>
                    </p>
                </div>
                <div class="col-md-6 marco-video">
                    <iframe src="https://www.youtube.com/embed/kj1ujARuLyY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="msg">
                      <span class="fa-quote-left"></span>Video de acreditación de odontológia<span class="fa-quote-right"></span>
                    </p>
                </div>
                <div class="col-md-12" style="margin-top:20px;">
                    <center><a href="https://www.youtube.com/channel/UC-uRcTLGKySwEn976VaeXtA/" class="btn btn-ellipse btn-java" target="_blank">mas videos</a></center>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="row">
  <section class="section-70-up section-150-down">
      <div class="shell">
          <h3>Novedades</h3>
          <hr class="divider divider-lg bg-primary">
          <div class="row">
            <div class="offset-top-60 col-sm-12">
                <div id="loading_section_instagram" class="loading">
                    <center>
                        <img src="{% static 'images/loading.gif' %}" width="100px" height="100px">
                        <p>Cargando...</p>
                    </center>
                </div>
                <div id="instagram_section" data-loop="false" data-margin="10" data-items="1" data-dots="true" data-mouse-drag="false" data-md-items="4" data-nav="false" class="owl-carousel owl-carousel-default owl-carousel-class-light owl-theme owl-loaded" style="display:none;">
                </div>
            </div>

            <div class="offset-top-60 col-sm-12">
                <center><a href="https://www.instagram.com/odontologiauls/" class="btn btn-ellipse btn-java" target="_blank">mas novedades</a></center>
            </div>
          </div>
      </div>
  </section>
</div>   
<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        //Fetch 
        fetch('https://www.instagram.com/odontologiauls/?__a=1')
          .then(function(response) {
            return response.json();
          })
          .then(function(myJson) {
            media = myJson.graphql.user.edge_owner_to_timeline_media.edges;
            media.forEach(addItem);

            console.log(media[0]);

            function addItem(item, index) {
              var caption = '';
              if (item.node.edge_media_to_caption.edges.length > 0)
                caption = item.node.edge_media_to_caption.edges[0].node.text;
              else
                caption = 'Conoce mas sobre esta actividad';
              var child = '<div class="owl-item">'+
                '<div class="item-instagram">'+
                  '<div class="quote-meta unit unit-horizontal unit-spacing-sm unit-middle">'+
                    '<div class="unit-left unit-item-narrow">'+
                      '<a href="//instagram.com/p/'+item.node.shortcode+'" class="box-instagram" target="_blank">'+
                          '<img id="img_instagram_'+index+'" src="'+item.node.display_url+'" alt="" class="quote-img img-instagram"/>'+
                          '<div class="img-overlay"><div><p>'+caption.substring(0,100)+'...</p></div></div>'+
                      '</a>'+
                    '</div>'+
                  '</div>'+
                '</div></div>';
              $('#instagram_section').trigger('add.owl.carousel', [$(child)]);
            }

            $('#instagram_section').trigger('refresh.owl.carousel');
            $("#instagram_section").trigger('to.owl.carousel', [0, 1, true]);
            $('#loading_section_instagram').hide();
            $('#instagram_section').show();
            $("#instagram_section").data('owlCarousel').onResize();
          });
    });
</script>
<!-- Call to action-->
<section class="rd-parallax">
    <div data-speed="0.2" data-type="media" data-url="{% static 'images/backgrounds/background-12-1920x610.jpg' %}" class="rd-parallax-layer"></div>
    <div data-speed="0" data-type="html" class="rd-parallax-layer section-98 section-sm-110 context-dark">
        <div class="shell text-center">
            <h2 style="text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);">Nuestro prestigio... consecuencia de un trabajo comprometido y de excelencia</h2>
            <div class="offset-top-30"><a href="/carrera/admision" class="btn btn-ellipse btn-java">Admisión</a></div>
        </div>
    </div>
</section>
<!--What makes us different-->
<section class="section-150-up section-100-down">
    <div class="shell">
        <h3>Marcamos la diferencia</h3>
        <hr class="divider divider-lg bg-primary">
        <div class="range offset-top-60">
            <div class="cell-md-4">
                <div class="icon icon-xlg icon-rect icon-default icon-tecnologia-xl"></div>
                <h5 class="text-bold text-primary">Ciencia, humanidad y tecnología</h5>
                <p>La carrera de Odontología tiene una fuerte formación científica, humanista y tecnológica.</p>
            </div>
            <div class="cell-md-4 offset-top-50 offset-md-top-0">
                <div class="icon icon-xlg icon-rect icon-default icon-compromiso-xl"></div>
                <h5 class="text-bold text-primary">Responsabilidad social</h5>
                <p>Sólidos principios éticos y responsabilidad social.</p>
            </div>
            <div class="cell-md-4 offset-top-50 offset-md-top-0">
                <div class="icon icon-xlg icon-rect icon-default icon-biomedicina-xl"></div>
                <h5 class="text-bold text-primary">Ciencias biomédicas</h5>
                <p>Énfasis en las ciencias biomédicas básicas, técnicas y clínicas para entender las condiciones normales y patologías.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

