{% extends "carrera/base.html" %}
{% load staticfiles %}

{% block title %}Odontología{% endblock %} 

{% block content %}

<!--What makes us different-->
<section class="section-150-up">
    <div class="shell">
        <h3>Marcamos la diferencia</h3>
        <hr class="divider divider-lg bg-primary">
        <div class="range offset-top-60">
            <div class="cell-md-4">
                <div class="icon icon-xlg icon-rect icon-default icon-tecnologia-xl"></div>
                <h5 class="text-bold text-primary">Ciencia, humanidad y tecnología</h5>
                <p>La carrera de Odontología tiene una fuerte formación científica, humanista y tecnológica.</p>
            </div>
            <div class="cell-md-4 offset-top-50 offset-md-top-0">
                <div class="icon icon-xlg icon-rect icon-default icon-compromiso-xl"></div>
                <h5 class="text-bold text-primary">Responsabilidad social</h5>
                <p>Sólidos principios éticos y responsabilidad social.</p>
            </div>
            <div class="cell-md-4 offset-top-50 offset-md-top-0">
                <div class="icon icon-xlg icon-rect icon-default icon-biomedicina-xl"></div>
                <h5 class="text-bold text-primary">Ciencias biomédicas</h5>
                <p>Énfasis en las ciencias biomédicas básicas, técnicas y clínicas para entender las condiciones normales y patologías.</p>
            </div>
        </div>
    </div>
</section>

 <!-- Latest blog posts-->
  <!-- {   % if noticias %  } -->
  <section class="section-98 section-sm-110">
    <div class="shell">
        <h3>Noticias</h3>
        <hr class="divider divider-lg bg-primary">
        <div class="range range-xs-center offset-top-60">

            {% for noticia in noticias %}
            <div class="cell-sm-8 cell-md-4">
                <!-- Post Modern-->
                <article class="post post-modern post-modern-classic">
                    <!-- Post media-->
                    <header class="post-media">
                        <a href="{% url 'detalle' actid=noticia.id %}">
                            <img width="370" height="250" src="{{ noticia.imagen.url }}" alt="" class="img-responsive img-cover" />
                        </a>
                    </header>
                    <!-- Post content-->
                    <section class="post-content text-left">
                        <!-- Post Title-->
                        <div class="post-title offset-top-8">
                            <h4 class="text-bold" style="text-align: justify;">
                                <a href="{% url 'detalle' actid=noticia.id %}">
                                {{ noticia.titulo }}
                                </a>
                            </h4>
                        </div>
                        <ul class="list-inline list-inline-dashed">
                            <li>{{ noticia.inicio|date:"d M Y, H:i" }}</li>
                            <!-- <li><a href="#" class="text-primary">autor 1</a></li> -->
                        </ul>
                        <!-- Post Body-->
                        <div class="post-body" style="text-align: justify;">
                            <p>{{ noticia.descripcion|truncatechars:200|safe }}</p>
                        </div>
                        <div class="tags group group-sm">
                        </div>
                    </section>
                </article>
            </div>
            {% endfor %}
        </div>
        <div class="offset-top-50"><a href="{% url 'noticias' %}" class="btn btn-ellipse btn-java">Ver todas las noticias</a></div>
    </div>
</section>

<section class="rd-parallax">
    <div data-speed="0.2" data-type="media" data-url="{% static 'images/backgrounds/background-12-1920x610.jpg' %}" class="rd-parallax-layer"></div>
    <div data-speed="0" data-type="html" class="rd-parallax-layer section-98 section-sm-110 context-dark">
        <div class="shell text-center">
            <h2 style="text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);">Nuestro prestigio... consecuencia de un trabajo comprometido y de excelencia</h2>
            <div class="offset-top-30"><a href="/carrera/admision" class="btn btn-ellipse btn-java">Admisión</a></div>
        </div>
    </div>
</section>


<!--What makes us different-->   
<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            type: "get",
            url: "/carrera/instagram_timeline/",
            dataType: "json",
            success: function(data){
                function addItem(item, index) {
                  var caption = '';
                  if (item.caption.edges.length > 0)
                    caption = item.caption.edges[0].node.text;
                  else
                    caption = 'Conoce mas sobre esta actividad';
                  var child = '<div class="owl-item">'+
                    '<div class="item-instagram">'+
                      '<div class="quote-meta unit unit-horizontal unit-spacing-sm unit-middle">'+
                        '<div class="unit-left unit-item-narrow">'+
                          '<a href="//instagram.com/p/'+item.url+'" class="box-instagram" target="_blank">'+
                              '<img id="img_instagram_'+index+'" src="'+item.image+'" alt="" class="quote-img img-instagram"/>'+
                              '<div class="img-overlay"><div><p>'+caption.substring(0,100)+'...</p></div></div>'+
                          '</a>'+
                        '</div>'+
                      '</div>'+
                    '</div></div>';
                  $('#instagram_section').trigger('add.owl.carousel', [$(child)]);
                }
                
                data.forEach(addItem);
                $('#instagram_section').trigger('refresh.owl.carousel');
                $("#instagram_section").trigger('to.owl.carousel', [0, 1, true]);
                $('#loading_section_instagram').hide();
                $('#instagram_section').show();
                $("#instagram_section").data('owlCarousel').onResize();
            },
            error: function(){
                console.log('No llegan imagenes de instagram.')
            }
        });
    });
</script>
<!-- Call to action-->


{% endblock %}

