{% extends "carrera/basecontenido.html" %}
{% load staticfiles %}

{% block title %}Académicos{% endblock %}

{% block content %}
<!-- What makes us different-->
<!--What makes us different-->
<!-- Modern Breadcrumbs-->
<section class="breadcrumb-modern context-dark text-md-left">
    <div class="shell section-34 section-md-top-110 section-md-bottom-41">
        <h1>Docentes</h1>
        <ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
            <li><a href="/">Carrera</a></li>
            <li>Docentes</li>
        </ul>
    </div>
</section>
<!-- Page Content-->
<main class="page-content">

  <!-- Our team-->
  <section class="section-98 section-sm-50">
      <div class="shell">
          <div class="isotope-wrap">
              <div class="row">
                  <!-- Isotope Filters-->
                  <div class="col-lg-3">
                      <div class="isotope-filters isotope-filters-vertical">
                          <h4 class="text-uppercase isotope-filters-title offset-top-34"> </h4>
                          <ul class="list-inline list-inline-sm">
                              <li class="veil-md"><p>Equipos</p></li>
                              <li class="section-relative">
                                  <button data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true" class="isotope-filters-toggle btn btn-sm btn-default">Filtro<span class="caret"></span>
                                  </button>
                                  <ul id="isotope-1" class="list-sm-inline isotope-filters-list">                                      
                                      <li><a data-isotope-filter="ciencias_preclinicas" data-isotope-group="gallery" href="#">Cs. Básicas y Preclínicas</a></li>
                                      <li><a data-isotope-filter="cirugias" data-isotope-group="gallery" href="#">Cirugía</a></li>
                                      <li><a data-isotope-filter="endodoncias" data-isotope-group="gallery" href="#">Endodoncia </a></li>
                                      <li><a data-isotope-filter="odontopediatrias" data-isotope-group="gallery" href="#">Odontopediatría</a></li>
                                      <li><a data-isotope-filter="ortodoncia_ortopedia" data-isotope-group="gallery" href="#">Ortodoncia y Ortopedia</a></li>
                                      <li><a data-isotope-filter="periodoncias" data-isotope-group="gallery" href="#">Periodoncia</a></li>
                                      <li><a data-isotope-filter="radiologia_imagenologia" data-isotope-group="gallery" href="#">Radiología y Imagenología</a></li>
                                      <li><a data-isotope-filter="rehabilitacion_orales" data-isotope-group="gallery" href="#" class="active">Rehabilitación Oral</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <!-- Isotope Content-->
                  <div class="col-lg-9 offset-lg-top-0 offset-top-34">
                      <div data-isotope-layout="fitRows" data-isotope-group="gallery" class="isotope">
                          <div data-photo-swipe-gallery="gallery" class="row text-sm-left">
                              <div data-filter="rehabilitacion_orales" class="col-md-12 isotope-item">
                                  <h3>Rehabilitación Oral</h3>
                                  <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                                  <div class="offset-top-41 offset-lg-top-60">
                                      <div class="range range-xs-left">
                                          {% for rehabilitacion in rehabilitacion_orales %}
                                          <div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                              <figure class="thumbnail-josip thumbnail-spacing">
                                                  <img src="{{ rehabilitacion.foto.url }}" alt=""/>
                                                  <div class="thumbnail-desc" style="padding: 10px 10px 20px; text-align:center">
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ rehabilitacion.nombres }}</h6>
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ rehabilitacion.apellido_paterno }}</h6>
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ rehabilitacion.titulo }}</h6>
                                                  </div>
                                                  <figcaption>
                                                    <a type="button" class="btn btn-block btn-rect text-md-center btn-java" data-toggle="modal" data-target="#rehabilitacion_{{ rehabilitacion.id }}">
                                                      ver perfil completo
                                                    </a>
                                                  </figcaption>
                                              </figure>
                                          </div>
                                          {% endfor %}
                                      </div>
                                  </div>
                              </div>
                              <div data-filter="odontopediatrias" class="col-md-12 isotope-item">
                                  <h3>Odontopediatría</h3>
                                  <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                                  <div class="offset-top-41 offset-lg-top-60">
                                      <div class="range range-xs-left">
                                          {% for odontopediatria in odontopediatrias %}
                                          <div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                              <figure class="thumbnail-josip thumbnail-spacing">
                                                  <img width="270" height="270" src="{{ odontopediatria.foto.url }}" alt=""/>
                                                  <div class="thumbnail-desc" style="padding: 10px 10px 20px; text-align:center">
                                                    <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ odontopediatria.nombres }}</h6>
                                                    <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ odontopediatria.apellido_paterno }}</h6>
                                                    <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ odontopediatria.titulo }}</h6>
                                                  </div>
                                                  <figcaption>
                                                    <a type="button" class="btn btn-block btn-rect text-md-center btn-java" data-toggle="modal" data-target="#odontopediatria_{{ odontopediatria.id }}">
                                                      ver perfil completo
                                                    </a>
                                                  </figcaption>
                                              </figure>
                                          </div>
                                          {% endfor %}
                                      </div>
                                  </div>
                              </div>
                              <div data-filter="periodoncias" class="col-md-12 isotope-item">
                                  <h3>Periodoncia</h3>
                                  <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                                  <div class="offset-top-41 offset-lg-top-60">
                                      <div class="range range-xs-left">
                                          {% for periodoncia in periodoncias %}
                                          <div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                              <figure class="thumbnail-josip thumbnail-spacing">
                                                  <img width="270" height="270" src="{{ periodoncia.foto.url }}" alt=""/>
                                                  <div class="thumbnail-desc" style="padding: 10px 10px 20px; text-align:center">
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ periodoncia.nombres }}</h6>
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ periodoncia.apellido_paterno }}</h6>
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ periodoncia.titulo }}</h6>
                                                  </div>
                                                  <figcaption>
                                                    <a type="button" class="btn btn-block btn-rect text-md-center btn-java" data-toggle="modal" data-target="#periodoncia_{{ periodoncia.id }}">
                                                      ver perfil completo
                                                    </a>
                                                  </figcaption>
                                              </figure>
                                          </div>
                                          {% endfor %}
                                      </div>
                                  </div>
                              </div>
                              <div data-filter="endodoncias" class="col-md-12 isotope-item">
                                  <h3>Endodoncia</h3>
                                  <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                                  <div class="offset-top-41 offset-lg-top-60">
                                      <div class="range range-xs-left">
                                          {% for endodoncia in endodoncias %}
                                          <div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                              <figure class="thumbnail-josip thumbnail-spacing">
                                                  <img width="270" height="270" src="{{ endodoncia.foto.url }}" alt=""/>
                                                  <div class="thumbnail-desc" style="padding: 10px 10px 20px; text-align:center">
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ endodoncia.nombres }}</h6>
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ endodoncia.apellido_paterno }}</h6>
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ endodoncia.titulo }}</h6>
                                                  </div>
                                                  <figcaption>
                                                    <a type="button" class="btn btn-block btn-rect text-md-center btn-java" data-toggle="modal" data-target="#endodoncia_{{ endodoncia.id }}">
                                                      ver perfil completo
                                                    </a>
                                                  </figcaption>
                                              </figure>
                                          </div>
                                          {% endfor %}
                                      </div>
                                  </div>
                              </div>
                              <div data-filter="cirugias" class="col-md-12 isotope-item">
                                  <h3>Cirugías</h3>
                                  <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                                  <div class="offset-top-41 offset-lg-top-60">
                                      <div class="range range-xs-left">
                                          {% for cirugia in cirugias %}
                                          <div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                              <figure class="thumbnail-josip thumbnail-spacing">
                                                  <img width="270" height="270" src="{{ cirugia.foto.url }}" alt=""/>
                                                  <div class="thumbnail-desc" style="padding: 10px 10px 20px; text-align:center">
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ cirugia.nombres }}</h6>
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ cirugia.apellido_paterno }}</h6>
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ cirugia.titulo }}</h6>
                                                  </div>
                                                  <figcaption>
                                                    <a type="button" class="btn btn-block btn-rect text-md-center btn-java" data-toggle="modal" data-target="#cirugia_{{ cirugia.id }}">
                                                      ver perfil completo
                                                    </a>
                                                  </figcaption>
                                              </figure>
                                          </div>
                                          {% endfor %}
                                      </div>
                                  </div>
                              </div>
                              <div data-filter="radiologia_imagenologia" class="col-md-12 isotope-item">
                                <h3>Radiología e Imagenología</h3>
                                <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                                <div class="offset-top-41 offset-lg-top-60">
                                    <div class="range range-xs-left">
                                        {% for radiologia_imagenologia in radiologias_imagenologias %}
                                        <div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                            <figure class="thumbnail-josip thumbnail-spacing">
                                                <img width="270" height="270" src="{{ radiologia_imagenologia.foto.url }}" alt=""/>
                                                <div class="thumbnail-desc" style="padding: 10px 10px 20px; text-align:center">
                                                    <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ radiologia_imagenologia.nombres }}</h6>
                                                    <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ radiologia_imagenologia.apellido_paterno }}</h6>
                                                    <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ radiologia_imagenologia.titulo }}</h6>
                                                </div>
                                                <figcaption>
                                                  <a type="button" class="btn btn-block btn-rect text-md-center btn-java" data-toggle="modal" data-target="#radiologia_imagenologia_{{ radiologia_imagenologia.id }}">
                                                    ver perfil completo
                                                  </a>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div data-filter="ortodoncia_ortopedia" class="col-md-12 isotope-item">
                              <h3>Ortodoncia y Ortepedia</h3>
                              <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                              <div class="offset-top-41 offset-lg-top-60">
                                  <div class="range range-xs-left">
                                      {% for ortodoncia_ortopedia in ortodoncias_ortopedias %}
                                      <div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                          <figure class="thumbnail-josip thumbnail-spacing">
                                              <img width="270" height="270" src="{{ ortodoncia_ortopedia.foto.url }}" alt=""/>
                                              <div class="thumbnail-desc" style="padding: 10px 10px 20px; text-align:center">
                                                  <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ ortodoncia_ortopedia.nombres }}</h6>
                                                  <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ ortodoncia_ortopedia.apellido_paterno }}</h6>
                                                  <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ ortodoncia_ortopedia.titulo }}</h6>
                                              </div>
                                              <figcaption>
                                                <a type="button" class="btn btn-block btn-rect text-md-center btn-java" data-toggle="modal" data-target="#ortodoncia_ortopedia_{{ ortodoncia_ortopedia.id }}">
                                                  ver perfil completo
                                                </a>
                                              </figcaption>
                                          </figure>
                                      </div>
                                      {% endfor %}
                                  </div>
                              </div>
                          </div>
                              <div data-filter="ciencias_preclinicas" class="col-md-12 isotope-item">
                                  <h3>Ciencias Preclínica</h3>
                                  <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                                  <div class="offset-top-41 offset-lg-top-60">
                                      <div class="range range-xs-left">
                                          {% for ciencias_preclinica in ciencias_preclinicas %}
                                          <div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                              <figure class="thumbnail-josip thumbnail-spacing">
                                                  <img width="270" height="270" src="{{ ciencias_preclinica.foto.url }}" alt=""/>
                                                  <div class="thumbnail-desc" style="padding: 10px 10px 20px; text-align:center">
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ ciencias_preclinica.nombres }}</h6>
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ ciencias_preclinica.apellido_paterno }}</h6>
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ ciencias_preclinica.titulo }}</h6>
                                                  </div>
                                                  <figcaption>
                                                    <a type="button" class="btn btn-block btn-rect text-md-center btn-java" data-toggle="modal" data-target="#ciencias_preclinica_{{ ciencias_preclinica.id }}">
                                                      ver perfil completo
                                                    </a>
                                                  </figcaption>
                                              </figure>
                                          </div>
                                          {% endfor %}
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>

      <!-- Modal -->
      {% for rehabilitacion in rehabilitacion_orales %}
        <div class="modal fade" id="rehabilitacion_{{ rehabilitacion.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top:10%">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-md-center" id="myModalLabel">{{ rehabilitacion.nombres }} {{ rehabilitacion.apellido_paterno }} {{ rehabilitacion.apellido_materno }}</h4>
              </div>
              <div class="modal-body">
                <section class="section-98 section-sm-top-34 section-sm-bottom-110" style="margin-bottom: 10px; padding-top:10px">
                    <div class="shell">
                        <!--h4>{{ rehabilitacion.nombres }} {{ rehabilitacion.apellido_paterno }}</h4 -->
                        <div class="range range-xs-center" style="margin-top: 10px;">
                            <div class="cell-xs-10 cell-md-4" style="margin-top: 10px;">
                                <!-- Member block type 5-->
                                <div class="inset-md-right-20 cell-xs-10 cell-md-8 text-md-left offset-top-10 offset-md-top-0" style="border: 10px solid #fff;border-radius: 5px;box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);">
                                  <img src="{{ rehabilitacion.foto.url }}" width="320" height="320" alt="" class="img-responsive center-block" />
                                </div>
                            </div>
                            <div class="cell-xs-10 cell-md-8 text-md-left offset-top-60 offset-md-top-0">
                                <div class="range">
                                    <div class="cell-sm-6">
                                        <div>Profesión</div>
                                        <h5 class="text-bold">{{ rehabilitacion.titulo }}</h5>
                                    </div>
                                    <div class="cell-sm-6 offset-top-41 offset-sm-top-0">
                                        <div>Registro SISS</div>
                                        <h5 class="text-bold">{{ rehabilitacion.registro_siss }}</h5>
                                    </div>
                                </div>
                                <div class="offset-top-66 text-left">
                                    <h6>Especialidad</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ rehabilitacion.especialidad }}{% endautoescape %}</p>

                                    <h6>Postgrados y Postítulos</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ rehabilitacion.postitulos }}{% endautoescape %}</p>

                                    <h6>Cargo</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ rehabilitacion.cargo }}{% endautoescape %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}


      <!-- Modal -->
      {% for odontopediatria in odontopediatrias %}
        <div class="modal fade" id="odontopediatria_{{ odontopediatria.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top:10%">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-md-center" id="myModalLabel">{{ odontopediatria.nombres }} {{ odontopediatria.apellido_paterno }} {{ odontopediatria.apellido_materno }}</h4>
              </div>
              <div class="modal-body">
                <section class="section-98 section-sm-top-34 section-sm-bottom-110" style="margin-bottom: 10px; padding-top:10px">
                    <div class="shell">
                        <!--h4>{{ rehabilitacion.nombres }} {{ rehabilitacion.apellido_paterno }}</h4 -->
                        <div class="range range-xs-center" style="margin-top: 10px;">
                            <div class="cell-xs-10 cell-md-4" style="margin-top: 10px;">
                                <!-- Member block type 5-->
                                <div class="inset-md-right-20 cell-xs-10 cell-md-8 text-md-left offset-top-10 offset-md-top-0" style="border: 10px solid #fff;border-radius: 5px;box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);">
                                  <img src="{{ odontopediatria.foto.url }}" width="320" height="320" alt="" class="img-responsive center-block" />
                                </div>
                            </div>
                            <div class="cell-xs-10 cell-md-8 text-md-left offset-top-60 offset-md-top-0">
                                <div class="range">
                                    <div class="cell-sm-6">
                                        <div>Profesión</div>
                                        <h5 class="text-bold">{{ odontopediatria.titulo }}</h5>
                                    </div>
                                    <div class="cell-sm-6 offset-top-41 offset-sm-top-0">
                                        <div>Registro SISS</div>
                                        <h5 class="text-bold">{{ odontopediatria.registro_siss }}</h5>
                                    </div>
                                </div>
                                <div class="offset-top-66 text-left">
                                    <h6>Especialidad</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ odontopediatria.especialidad }}{% endautoescape %}</p>

                                    <h6>Postgrados y Postítulos</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ odontopediatria.postitulos }}{% endautoescape %}</p>

                                    <h6>Cargo</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ odontopediatria.cargo }}{% endautoescape %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}


      <!-- Modal periodoncia -->
      {% for periodoncia in periodoncias %}
        <div class="modal fade" id="periodoncia_{{ periodoncia.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top:10%">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-md-center" id="myModalLabel">{{ periodoncia.nombres }} {{ periodoncia.apellido_paterno }} {{ periodoncia.apellido_materno }}</h4>
              </div>
              <div class="modal-body">
                <section class="section-98 section-sm-top-34 section-sm-bottom-110" style="margin-bottom: 10px; padding-top:10px">
                    <div class="shell">
                        <!--h4>{{ periodoncia.nombres }} {{ periodoncia.apellido_paterno }}</h4 -->
                        <div class="range range-xs-center" style="margin-top: 10px;">
                            <div class="cell-xs-10 cell-md-4" style="margin-top: 10px;">
                                <!-- Member block type 5-->
                                <div class="inset-md-right-20 cell-xs-10 cell-md-8 text-md-left offset-top-10 offset-md-top-0" style="border: 10px solid #fff;border-radius: 5px;box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);">
                                  <img src="{{ periodoncia.foto.url }}" width="320" height="320" alt="" class="img-responsive center-block" />
                                </div>
                            </div>
                            <div class="cell-xs-10 cell-md-8 text-md-left offset-top-60 offset-md-top-0">
                                <div class="range">
                                    <div class="cell-sm-6">
                                        <div>Profesión</div>
                                        <h5 class="text-bold">{{ periodoncia.titulo }}</h5>
                                    </div>
                                    <div class="cell-sm-6 offset-top-41 offset-sm-top-0">
                                        <div>Registro SISS</div>
                                        <h5 class="text-bold">{{ periodoncia.registro_siss }}</h5>
                                    </div>
                                </div>
                                <div class="offset-top-66 text-left">
                                    <h6>Especialidad</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ periodoncia.especialidad }}{% endautoescape %}</p>

                                    <h6>Postgrados y Postítulos</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ periodoncia.postitulos }}{% endautoescape %}</p>

                                    <h6>Cargo</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ periodoncia.cargo }}{% endautoescape %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}


      <!-- Modal endodoncias -->
      {% for endodoncia in endodoncias %}
        <div class="modal fade" id="endodoncia_{{ endodoncia.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top:10%">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-md-center" id="myModalLabel">{{ endodoncia.nombres }} {{ endodoncia.apellido_paterno }} {{ endodoncia.apellido_materno }}</h4>
              </div>
              <div class="modal-body">
                <section class="section-98 section-sm-top-34 section-sm-bottom-110" style="margin-bottom: 10px; padding-top:10px">
                    <div class="shell">
                        <!--h4>{{ endodoncia.nombres }} {{ endodoncia.apellido_paterno }}</h4 -->
                        <div class="range range-xs-center" style="margin-top: 10px;">
                            <div class="cell-xs-10 cell-md-4" style="margin-top: 10px;">
                                <!-- Member block type 5-->
                                <div class="inset-md-right-20 cell-xs-10 cell-md-8 text-md-left offset-top-10 offset-md-top-0" style="border: 10px solid #fff;border-radius: 5px;box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);">
                                  <img src="{{ endodoncia.foto.url }}" width="320" height="320" alt="" class="img-responsive center-block" />
                                </div>
                            </div>
                            <div class="cell-xs-10 cell-md-8 text-md-left offset-top-60 offset-md-top-0">
                                <div class="range">
                                    <div class="cell-sm-6">
                                        <div>Profesión</div>
                                        <h5 class="text-bold">{{ endodoncia.titulo }}</h5>
                                    </div>
                                    <div class="cell-sm-6 offset-top-41 offset-sm-top-0">
                                        <div>Registro SISS</div>
                                        <h5 class="text-bold">{{ endodoncia.registro_siss }}</h5>
                                    </div>
                                </div>
                                <div class="offset-top-66 text-left">
                                    <h6>Especialidad</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ endodoncia.especialidad }}{% endautoescape %}</p>

                                    <h6>Postgrados y Postítulos</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ endodoncia.postitulos }}{% endautoescape %}</p>

                                    <h6>Cargo</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ endodoncia.cargo }}{% endautoescape %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}


      <!-- Modal cirugia -->
      {% for cirugia in cirugias %}
        <div class="modal fade" id="cirugia_{{ cirugia.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top:10%">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-md-center" id="myModalLabel">{{ cirugia.nombres }} {{ cirugia.apellido_paterno }} {{ cirugia.apellido_materno }}</h4>
              </div>
              <div class="modal-body">
                <section class="section-98 section-sm-top-34 section-sm-bottom-110" style="margin-bottom: 10px; padding-top:10px">
                    <div class="shell">
                        <!--h4>{{ cirugia.nombres }} {{ cirugia.apellido_paterno }}</h4 -->
                        <div class="range range-xs-center" style="margin-top: 10px;">
                            <div class="cell-xs-10 cell-md-4" style="margin-top: 10px;">
                                <!-- Member block type 5-->
                                <div class="inset-md-right-20 cell-xs-10 cell-md-8 text-md-left offset-top-10 offset-md-top-0" style="border: 10px solid #fff;border-radius: 5px;box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);">
                                  <img src="{{ cirugia.foto.url }}" width="320" height="320" alt="" class="img-responsive center-block" />
                                </div>
                            </div>
                            <div class="cell-xs-10 cell-md-8 text-md-left offset-top-60 offset-md-top-0">
                                <div class="range">
                                    <div class="cell-sm-6">
                                        <div>Profesión</div>
                                        <h5 class="text-bold">{{ cirugia.titulo }}</h5>
                                    </div>
                                    <div class="cell-sm-6 offset-top-41 offset-sm-top-0">
                                        <div>Registro SISS</div>
                                        <h5 class="text-bold">{{ cirugia.registro_siss }}</h5>
                                    </div>
                                </div>
                                <div class="offset-top-66 text-left">
                                    <h6>Especialidad</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ cirugia.especialidad }}{% endautoescape %}</p>

                                    <h6>Postgrados y Postítulos</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ cirugia.postitulos }}{% endautoescape %}</p>

                                    <h6>Cargo</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ cirugia.cargo }}{% endautoescape %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <!-- Modal radiologia_imagenologia -->
      {% for radiologia_imagenologia in radiologias_imagenologias %}
        <div class="modal fade" id="radiologia_imagenologia_{{ radiologia_imagenologia.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top:10%">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-md-center" id="myModalLabel">{{ radiologia_imagenologia.nombres }} {{ radiologia_imagenologia.apellido_paterno }} {{ radiologia_imagenologia.apellido_materno }}</h4>
              </div>
              <div class="modal-body">
                <section class="section-98 section-sm-top-34 section-sm-bottom-110" style="margin-bottom: 10px; padding-top:10px">
                    <div class="shell">
                        <!--h4>{{ cirugia.nombres }} {{ cirugia.apellido_paterno }}</h4 -->
                        <div class="range range-xs-center" style="margin-top: 10px;">
                            <div class="cell-xs-10 cell-md-4" style="margin-top: 10px;">
                                <!-- Member block type 5-->
                                <div class="inset-md-right-20 cell-xs-10 cell-md-8 text-md-left offset-top-10 offset-md-top-0" style="border: 10px solid #fff;border-radius: 5px;box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);">
                                  <img src="{{ radiologia_imagenologia.foto.url }}" width="320" height="320" alt="" class="img-responsive center-block" />
                                </div>
                            </div>
                            <div class="cell-xs-10 cell-md-8 text-md-left offset-top-60 offset-md-top-0">
                                <div class="range">
                                    <div class="cell-sm-6">
                                        <div>Profesión</div>
                                        <h5 class="text-bold">{{ radiologia_imagenologia.titulo }}</h5>
                                    </div>
                                    <div class="cell-sm-6 offset-top-41 offset-sm-top-0">
                                        <div>Registro SISS</div>
                                        <h5 class="text-bold">{{ radiologia_imagenologia.registro_siss }}</h5>
                                    </div>
                                </div>
                                <div class="offset-top-66 text-left">
                                    <h6>Especialidad</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ radiologia_imagenologia.especialidad }}{% endautoescape %}</p>

                                    <h6>Postgrados y Postítulos</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ radiologia_imagenologia.postitulos }}{% endautoescape %}</p>

                                    <h6>Cargo</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ radiologia_imagenologia.cargo }}{% endautoescape %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <!-- Modal ortodoncia_ortopedia -->
      {% for ortodoncia_ortopedia in ortodoncias_ortopedias %}
        <div class="modal fade" id="ortodoncia_ortopedia_{{ ortodoncia_ortopedia.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top:10%">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-md-center" id="myModalLabel">{{ ortodoncia_ortopedia.nombres }} {{ ortodoncia_ortopedia.apellido_paterno }} {{ ortodoncia_ortopedia.apellido_materno }}</h4>
              </div>
              <div class="modal-body">
                <section class="section-98 section-sm-top-34 section-sm-bottom-110" style="margin-bottom: 10px; padding-top:10px">
                    <div class="shell">
                        <!--h4>{{ cirugia.nombres }} {{ cirugia.apellido_paterno }}</h4 -->
                        <div class="range range-xs-center" style="margin-top: 10px;">
                            <div class="cell-xs-10 cell-md-4" style="margin-top: 10px;">
                                <!-- Member block type 5-->
                                <div class="inset-md-right-20 cell-xs-10 cell-md-8 text-md-left offset-top-10 offset-md-top-0" style="border: 10px solid #fff;border-radius: 5px;box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);">
                                  <img src="{{ ortodoncia_ortopedia.foto.url }}" width="320" height="320" alt="" class="img-responsive center-block" />
                                </div>
                            </div>
                            <div class="cell-xs-10 cell-md-8 text-md-left offset-top-60 offset-md-top-0">
                                <div class="range">
                                    <div class="cell-sm-6">
                                        <div>Profesión</div>
                                        <h5 class="text-bold">{{ ortodoncia_ortopedia.titulo }}</h5>
                                    </div>
                                    <div class="cell-sm-6 offset-top-41 offset-sm-top-0">
                                        <div>Registro SISS</div>
                                        <h5 class="text-bold">{{ ortodoncia_ortopedia.registro_siss }}</h5>
                                    </div>
                                </div>
                                <div class="offset-top-66 text-left">
                                    <h6>Especialidad</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ ortodoncia_ortopedia.especialidad }}{% endautoescape %}</p>

                                    <h6>Postgrados y Postítulos</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ ortodoncia_ortopedia.postitulos }}{% endautoescape %}</p>

                                    <h6>Cargo</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ ortodoncia_ortopedia.cargo }}{% endautoescape %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <!-- Modal ciencias_preclinica -->
      {% for ciencias_preclinica in ciencias_preclinicas %}
        <div class="modal fade" id="ciencias_preclinica_{{ ciencias_preclinica.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top:10%">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-md-center" id="myModalLabel">{{ ciencias_preclinica.nombres }} {{ ciencias_preclinica.apellido_paterno }} {{ ciencias_preclinica.apellido_materno }}</h4>
              </div>
              <div class="modal-body">
                <section class="section-98 section-sm-top-34 section-sm-bottom-110" style="margin-bottom: 10px; padding-top:10px">
                    <div class="shell">
                        <!--h4>{{ ciencias_preclinica.nombres }} {{ ciencias_preclinica.apellido_paterno }}</h4 -->
                        <div class="range range-xs-center" style="margin-top: 10px;">
                            <div class="cell-xs-10 cell-md-4" style="margin-top: 10px;">
                                <!-- Member block type 5-->
                                <div class="inset-md-right-20 cell-xs-10 cell-md-8 text-md-left offset-top-10 offset-md-top-0" style="border: 10px solid #fff;border-radius: 5px;box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);">
                                  <img src="{{ ciencias_preclinica.foto.url }}" width="320" height="320" alt="" class="img-responsive center-block" />
                                </div>
                            </div>
                            <div class="cell-xs-10 cell-md-8 text-md-left offset-top-60 offset-md-top-0">
                                <div class="range">
                                    <div class="cell-sm-6">
                                        <div>Profesión</div>
                                        <h5 class="text-bold">{{ ciencias_preclinica.titulo }}</h5>
                                    </div>
                                    <div class="cell-sm-6 offset-top-41 offset-sm-top-0">
                                        <div>Registro SISS</div>
                                        <h5 class="text-bold">{{ ciencias_preclinica.registro_siss }}</h5>
                                    </div>
                                </div>
                                <div class="offset-top-66 text-left">
                                    <h6>Especialidad</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ ciencias_preclinica.especialidad }}{% endautoescape %}</p>

                                    <h6>Postgrados y Postítulos</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ cirugia.postitulos }}{% endautoescape %}</p>

                                    <h6>Cargo</h6>
                                    <hr class="text-subline">
                                    <p>{% autoescape off %}{{ ciencias_preclinica.cargo }}{% endautoescape %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </section>
</main>
{% endblock %}
