{% extends "carrera/base.html" %}
{% load staticfiles %}

{% block title %}Admisión{% endblock %}

{% block content %}
<!-- What makes us different-->
<!--What makes us different-->
<!-- Modern Breadcrumbs-->
<section class="breadcrumb-modern context-dark text-md-left">
<div class="shell section-34 section-md-top-110 section-md-bottom-41">
  <h1>Docentes</h1>
  <ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
    <li><a href="/">Inicio</a></li>
    <li>docentes</li>
  </ul>
</div>
</section>
<!-- Page Content-->
<main class="page-content">
  <!-- Our team-->
  <section class="section-98 section-sm-110">
    <div class="shell">
      <h3>Equipo Docente</h3>
      <hr class="divider divider-lg bg-java">
      <div class="offset-top-41 offset-lg-top-60">
        <div class="range range-xs-center">
          <div class="cell-xs-8 cell-sm-7 cell-md-3">
            <!-- Thumbnail Josip-->
            <figure class="thumbnail-josip odd">
              <a href="team-member.html">
                <img width="270" height="270" src="{% static 'images/carrera/docentes/darwin_perez.jpg' %}" class="img-responsive" alt=""/>
            </a>
              <div class="thumbnail-desc">
                <h5 class="thumbnail-josip-title text-bold text-white">C.D. Darwin Pérez.</h5>
                <p class="veil reveal-md-block text-italic text-white offset-top-0">Coordinador Académico  de área clínica:</p>
              </div>
              <figcaption><a href="team-member.html" class="btn btn-block btn-rect text-md-left btn-java">view full profile</a></figcaption>
            </figure>
          </div>
          <div class="cell-xs-8 cell-sm-7 cell-md-3 offset-top-41 offset-md-top-0">
            <!-- Thumbnail Josip-->
            <figure class="thumbnail-josip"><a href="team-member.html">
              <img width="270" height="270" src="{% static 'images/carrera/docentes/francisco_alarcon.jpg' %}" class="img-responsive" alt=""/>
            </a>
              <div class="thumbnail-desc">
                <h5 class="thumbnail-josip-title text-bold text-white">C.D. Francisco Alarcón.</h5>
                <p class="veil reveal-md-block text-italic text-white offset-top-0">Unidad Odontología Pediátrica</p>
              </div>
              <figcaption><a href="team-member.html" class="btn btn-block btn-rect text-md-left btn-java">view full profile</a></figcaption>
            </figure>
          </div>
          <div class="cell-xs-8 cell-sm-7 cell-md-3 offset-top-41 offset-md-top-0">
            <!-- Thumbnail Josip-->
            <figure class="thumbnail-josip odd"><a href="team-member.html">
              <img width="270" height="270" src="{% static 'images/carrera/docentes/viviana_escudero.jpg' %}" class="img-responsive" alt=""/>
            </a>
              <div class="thumbnail-desc">
                <h5 class="thumbnail-josip-title text-bold text-white">Prof. Viviana Escudero.</h5>
                <p class="veil reveal-md-block text-italic text-white offset-top-0">Coordinador de Ciencias Básicas</p>
              </div>
              <figcaption><a href="team-member.html" class="btn btn-block btn-rect text-md-left btn-java">view full profile</a></figcaption>
            </figure>
          </div>
          <div class="cell-xs-8 cell-sm-7 cell-md-3 offset-top-41 offset-md-top-0">
            <!-- Thumbnail Josip-->
            <figure class="thumbnail-josip odd"><a href="team-member.html">
              <img width="270" height="270" src="{% static 'images/carrera/docentes/konrad_fritz.jpg' %}" class="img-responsive" alt=""/>
            </a>
              <div class="thumbnail-desc">
                <h5 class="thumbnail-josip-title text-bold text-white">C.D. Konrad Fritz.</h5>
                <p class="veil reveal-md-block text-italic text-white offset-top-0">Unidad de Endodoncia</p>
              </div>
              <figcaption><a href="team-member.html" class="btn btn-block btn-rect text-md-left btn-java">view full profile</a></figcaption>
            </figure>
          </div>
        </div>
        <div class="range range-xs-center offset-top-30">
          <div class="cell-xs-8 cell-sm-7 cell-md-3">
            <!-- Thumbnail Josip-->
            <figure class="thumbnail-josip odd"><a href="team-member.html"><img width="270" height="270" src="images/pages/our-team-01-270x270.jpg" alt=""/></a>
              <div class="thumbnail-desc">
                <h5 class="thumbnail-josip-title text-bold text-white">C.D. Andrés Guerrero.</h5>
                <p class="veil reveal-md-block text-italic text-white offset-top-0">Unidad de Cirugía y Pabellón</p>
              </div>
              <figcaption><a href="team-member.html" class="btn btn-block btn-rect text-md-left btn-java">view full profile</a></figcaption>
            </figure>
          </div>
          <div class="cell-xs-8 cell-sm-7 cell-md-3 offset-top-41 offset-md-top-0">
            <!-- Thumbnail Josip-->
            <figure class="thumbnail-josip"><a href="team-member.html"><img width="270" height="270" src="images/pages/our-team-02-270x270.jpg" alt=""/></a>
              <div class="thumbnail-desc">
                <h5 class="thumbnail-josip-title text-bold text-white">Mg. Alejandro Zamorano.</h5>
                <p class="veil reveal-md-block text-italic text-white offset-top-0">Unidad de Acreditación</p>
              </div>
              <figcaption><a href="team-member.html" class="btn btn-block btn-rect text-md-left btn-java">view full profile</a></figcaption>
            </figure>
          </div>
          <div class="cell-xs-8 cell-sm-7 cell-md-3 offset-top-41 offset-md-top-0">
            <!-- Thumbnail Josip-->
            <figure class="thumbnail-josip"><a href="team-member.html"><img width="270" height="270" src="images/pages/our-team-08-384x410.jpg" alt=""/></a>
              <div class="thumbnail-desc">
                <h5 class="thumbnail-josip-title text-bold text-white">Mg. Paula Arriagada.</h5>
                <p class="veil reveal-md-block text-italic text-white offset-top-0">Unidad de RAD e Internado asistencial</p>
              </div>
              <figcaption><a href="team-member.html" class="btn btn-block btn-rect text-md-left btn-java">view full profile</a></figcaption>
            </figure>
          </div>
          <div class="cell-xs-8 cell-sm-7 cell-md-3 offset-top-41 offset-md-top-0">
            <!-- Thumbnail Josip-->
            <figure class="thumbnail-josip"><a href="team-member.html"><img width="270" height="270" src="images/pages/our-team-04-270x270.jpg" alt=""/></a>
              <div class="thumbnail-desc">
                <h5 class="thumbnail-josip-title text-bold text-white">C.D. Angeles Valdivia.</h5>
                <p class="veil reveal-md-block text-italic text-white offset-top-0">Unidad de Periodoncia</p>
              </div>
            </figure>
          </div>
        </div>
        <div class="range range-xs-center">
          <div class="cell-xs-8 cell-sm-7 cell-md-3">
            <!-- Thumbnail Josip-->
            <figure class="thumbnail-josip odd"><a href="team-member.html"><img width="270" height="270" src="images/pages/our-team-05-384x410.jpg" alt=""/></a>
              <div class="thumbnail-desc">
                <h5 class="thumbnail-josip-title text-bold text-white">C.D. Darwin Pérez</h5>
                <p class="veil reveal-md-block text-italic text-white offset-top-0">Unidad de Rehabilitación y Odontología restauradora</p>
              </div>
              <figcaption><a href="team-member.html" class="btn btn-block btn-rect text-md-left btn-java">view full profile</a></figcaption>
            </figure>
          </div>
          <div class="cell-xs-8 cell-sm-7 cell-md-3 offset-top-41 offset-md-top-0">
            <!-- Thumbnail Josip-->
            <figure class="thumbnail-josip"><a href="team-member.html"><img width="270" height="270" src="images/pages/our-team-06-384x410.jpg" alt=""/></a>
              <div class="thumbnail-desc">
                <h5 class="thumbnail-josip-title text-bold text-white">C.D. Christian Castillo.</h5>
                <p class="veil reveal-md-block text-italic text-white offset-top-0">Coordinador de Preclínico:</p>
              </div>
              <figcaption><a href="team-member.html" class="btn btn-block btn-rect text-md-left btn-java">view full profile</a></figcaption>
            </figure>
          </div>
          <div class="cell-xs-8 cell-sm-7 cell-md-3 offset-top-41 offset-md-top-0">
            <!-- Thumbnail Josip-->
            <figure class="thumbnail-josip odd"><a href="team-member.html"><img width="270" height="270" src="images/pages/our-team-07-384x410.jpg" alt=""/></a>
              <div class="thumbnail-desc">
                <h5 class="thumbnail-josip-title text-bold text-white">C.D. Rosa Cuevas.</h5>
                <p class="veil reveal-md-block text-italic text-white offset-top-0">Unidad de Anatomía patológica y biopsias</p>
              </div>
              <figcaption><a href="team-member.html" class="btn btn-block btn-rect text-md-left btn-java">view full profile</a></figcaption>
            </figure>
          </div>
          <div class="cell-xs-8 cell-sm-7 cell-md-3 offset-top-41 offset-md-top-0">
            <!-- Thumbnail Josip-->
            <figure class="thumbnail-josip"><a href="team-member.html"><img width="270" height="270" src="images/pages/our-team-08-384x410.jpg" alt=""/></a>
              <div class="thumbnail-desc">
                <h5 class="thumbnail-josip-title text-bold text-white">C.D. Guillermo Ortiz.</h5>
                <p class="veil reveal-md-block text-italic text-white offset-top-0">Unidad de Radiología e Imagenología clínica</p>
              </div>
              <figcaption><a href="team-member.html" class="btn btn-block btn-rect text-md-left btn-java">view full profile</a></figcaption>
            </figure>
          </div>
        </div>
        <div class="offset-top-60"><a href="our-team.html" class="btn btn-ellipse btn-java">Ver todo el equipo</a></div>
      </div>
    </div>
  </section>

</main>
{% endblock %}
