{% extends "carrera/basecontenido.html" %} 
{% load staticfiles %} 

{% block title %}Política de privacidad{% endblock %} 

{% block content %}
<!-- Modern Breadcrumbs-->
<section class="breadcrumb-modern context-dark text-md-left">
    <div class="shell section-34 section-md-top-110 section-md-bottom-41">
        <h1>Política de privacidad</h1>
        <ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
            <li><a href="/">Carrera</a></li>
            <li>Política de privacidad</li>
        </ul>
    </div>
</section>
<!-- Page Content-->
<main class="page-content">
    <section class="section-98 section-sm-50 section-lg-bottom-0">
        <div class="shell text-left">
            <div class="range range-xs-center">
                <div class="cell-sm-12">
                    <h3>Política</h3>
                    <hr class="divider divider-lg bg-java hr-left-0 hr-sm-left-2">
                    <div class="offset-top-41 offset-lg-top-66">
                        Odontología y cada Miembro que ofrece recursos a través del sitio web se preocupan de la confidencialidad y seguridad de su información. Esta Política de privacidad se aplica a la información que la web recopila a través de las redes sociales cuando interactúa con los Miembros, con otros usuarios y en general, con el sitio web.

                        El sitio web accedera a las redes sociales de odontologia, para dar a conocer las ultimas actividades realizadas. Es única e independientemente responsable de sus propias prácticas de privacidad. 

                        Cada Miembro es única e independientemente responsable de sus propias prácticas de privacidad. Ningún Miembro es responsable de las prácticas de privacidad de otro Miembro. El sitio web tampoco es responsable de las prácticas de privacidad de un Miembro.
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}