{% extends "clinica/basecontenido.html" %} 
{% load staticfiles %} 

{% block title %}Cátedras{% endblock %} 

{% block content %}
      <!-- Modern Breadcrumbs-->
      <section class="breadcrumb-modern context-dark text-md-left">
        <div class="shell section-34 section-md-top-110 section-md-bottom-41">
          <h1>Cátedras</h1>
          <ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
            <li><a href="/clinica">Clínica</a></li>
            <li>Cátedras</li>
          </ul>
        </div>
      </section>
      <!-- Page Content-->
      <main class="page-content">
        <!-- Timetable-->
        <section class="section-98 section-sm-110">
          <div class="shell">
            <!-- Responsive-tabs-->
            <div data-type="horizontal" class="responsive-tabs responsive-tabs-classic">
              <ul data-group="tabs-group-default" class="resp-tabs-list tabs-1 text-center tabs-group-default">
                <li>Chiropractic Care</li>
                <li>Massage Therapy</li>
                <li>Lifestyle Advice</li>
                <li>Corrective Exercises</li>
              </ul>
              <div data-group="tabs-group-default" class="resp-tabs-container text-left tabs-group-default">
                <div>
                  <div class="calendar-responsive-mod-1 offset-top-30">
                    <table class="calendar-variant-2">
                      <thead>
                        <tr>
                          <th class="hours"><span class="veil reveal-md-inline">Hours</span></th>
                          <th>Monday</th>
                          <th>Tuesday</th>
                          <th>Wednesday</th>
                          <th>Thursday</th>
                          <th>Friday</th>
                          <th>Saturday</th>
                          <th>Sunday</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span class="text-gray-darker">8:00am<span class="veil reveal-lg-inline">-</span><br class="veil-lg">9:00am</span></td>
                          <td>
                            <div style="height:403%;" class="fc-event">
                              <div class="fc-event-wrap bg-primary">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div style="height:505%;" class="fc-event">
                              <div class="fc-event-wrap bg-carmine">
                                <div class="fc-event-inner"><img src="images/users/user-carolyn-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Martha Schmidt</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Licensed Massage Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:505%;" class="fc-event">
                              <div class="fc-event-wrap bg-primary">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">9:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">10:00am</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:505%;" class="fc-event">
                              <div class="fc-event-wrap bg-carmine">
                                <div class="fc-event-inner"><img src="images/users/user-carolyn-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Martha Schmidt</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Licensed Massage Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">10:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">11:00am</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:505%;" class="fc-event">
                              <div class="fc-event-wrap bg-primary">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">11:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">12:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:404%;" class="fc-event">
                              <div class="fc-event-wrap bg-carmine">
                                <div class="fc-event-inner"><img src="images/users/user-carolyn-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Martha Schmidt</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Licensed Massage Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">12:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">1:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">1:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">2:00pm</span></td>
                          <td>
                            <div style="height:504%;" class="fc-event">
                              <div class="fc-event-wrap bg-java">
                                <div class="fc-event-inner"><img src="images/users/user-cristina-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Christina Holland</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td>
                            <div style="height:505%;" class="fc-event">
                              <div class="fc-event-wrap bg-primary">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">2:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">3:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:404%;" class="fc-event">
                              <div class="fc-event-wrap bg-java">
                                <div class="fc-event-inner"><img src="images/users/user-cristina-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Christina Holland</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">3:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">4:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">4:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">5:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">5:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">6:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div>
                  <div class="calendar-responsive-mod-1 offset-top-30">
                    <table class="calendar-variant-2">
                      <thead>
                        <tr>
                          <th class="hours"><span class="veil reveal-md-inline">Hours</span></th>
                          <th>Monday</th>
                          <th>Tuesday</th>
                          <th>Wednesday</th>
                          <th>Thursday</th>
                          <th>Friday</th>
                          <th>Saturday</th>
                          <th>Sunday</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span class="text-gray-darker">8:00am<span class="veil reveal-lg-inline">-</span><br class="veil-lg">9:00am</span></td>
                          <td>
                            <div style="height:403%;" class="fc-event">
                              <div class="fc-event-wrap bg-primary">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:505%;" class="fc-event">
                              <div class="fc-event-wrap bg-primary">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">9:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">10:00am</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">10:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">11:00am</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:505%;" class="fc-event">
                              <div class="fc-event-wrap bg-primary">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">11:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">12:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:404%;" class="fc-event">
                              <div class="fc-event-wrap bg-carmine">
                                <div class="fc-event-inner"><img src="images/users/user-carolyn-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Martha Schmidt</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Licensed Massage Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">12:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">1:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">1:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">2:00pm</span></td>
                          <td>
                            <div style="height:504%;" class="fc-event">
                              <div class="fc-event-wrap bg-java">
                                <div class="fc-event-inner"><img src="images/users/user-cristina-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Christina Holland</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td>
                            <div style="height:505%;" class="fc-event">
                              <div class="fc-event-wrap bg-primary">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">2:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">3:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:404%;" class="fc-event">
                              <div class="fc-event-wrap bg-java">
                                <div class="fc-event-inner"><img src="images/users/user-carolyn-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Christina Holland</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">3:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">4:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div>
                  <div class="calendar-responsive-mod-1 offset-top-30">
                    <table class="calendar-variant-2">
                      <thead>
                        <tr>
                          <th class="hours"><span class="veil reveal-md-inline">Hours</span></th>
                          <th>Monday</th>
                          <th>Tuesday</th>
                          <th>Wednesday</th>
                          <th>Thursday</th>
                          <th>Friday</th>
                          <th>Saturday</th>
                          <th>Sunday</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span class="text-gray-darker">8:00am<span class="veil reveal-lg-inline">-</span><br class="veil-lg">9:00am</span></td>
                          <td>
                            <div style="height:606%;" class="fc-event">
                              <div class="fc-event-wrap bg-primary">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td>
                            <div style="height:505%;" class="fc-event">
                              <div class="fc-event-wrap bg-carmine">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">9:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">10:00am</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">10:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">11:00am</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">11:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">12:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">12:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">1:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">1:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">2:00pm</span></td>
                          <td>
                            <div style="height:504%;" class="fc-event">
                              <div class="fc-event-wrap bg-java">
                                <div class="fc-event-inner"><img src="images/users/user-cristina-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Christina Holland</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">2:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">3:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:404%;" class="fc-event">
                              <div class="fc-event-wrap bg-java">
                                <div class="fc-event-inner"><img src="images/users/user-carolyn-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Christina Holland</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">3:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">4:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div>
                  <div class="calendar-responsive-mod-1 offset-top-30">
                    <table class="calendar-variant-2">
                      <thead>
                        <tr>
                          <th class="hours"><span class="veil reveal-md-inline">Hours</span></th>
                          <th>Monday</th>
                          <th>Tuesday</th>
                          <th>Wednesday</th>
                          <th>Thursday</th>
                          <th>Friday</th>
                          <th>Saturday</th>
                          <th>Sunday</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span class="text-gray-darker">8:00am<span class="veil reveal-lg-inline">-</span><br class="veil-lg">9:00am</span></td>
                          <td>
                            <div style="height:403%;" class="fc-event">
                              <div class="fc-event-wrap bg-primary">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:505%;" class="fc-event">
                              <div class="fc-event-wrap bg-primary">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">9:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">10:00am</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">10:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">11:00am</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:505%;" class="fc-event">
                              <div class="fc-event-wrap bg-primary">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">11:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">12:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:404%;" class="fc-event">
                              <div class="fc-event-wrap bg-carmine">
                                <div class="fc-event-inner"><img src="images/users/user-carolyn-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Martha Schmidt</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Licensed Massage Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">12:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">1:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">1:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">2:00pm</span></td>
                          <td>
                            <div style="height:504%;" class="fc-event">
                              <div class="fc-event-wrap bg-java">
                                <div class="fc-event-inner"><img src="images/users/user-cristina-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Christina Holland</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td>
                            <div style="height:505%;" class="fc-event">
                              <div class="fc-event-wrap bg-primary">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">2:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">3:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:404%;" class="fc-event">
                              <div class="fc-event-wrap bg-java">
                                <div class="fc-event-inner"><img src="images/users/user-carolyn-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Christina Holland</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">3:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">4:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div>
                  <div class="calendar-responsive-mod-1 offset-top-30">
                    <table class="calendar-variant-2">
                      <thead>
                        <tr>
                          <th class="hours"><span class="veil reveal-md-inline">Hours</span></th>
                          <th>Monday</th>
                          <th>Tuesday</th>
                          <th>Wednesday</th>
                          <th>Thursday</th>
                          <th>Friday</th>
                          <th>Saturday</th>
                          <th>Sunday</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span class="text-gray-darker">8:00am<span class="veil reveal-lg-inline">-</span><br class="veil-lg">9:00am</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:505%;" class="fc-event">
                              <div class="fc-event-wrap bg-primary">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">9:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">10:00am</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">10:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">11:00am</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:505%;" class="fc-event">
                              <div class="fc-event-wrap bg-primary">
                                <div class="fc-event-inner"><img src="images/users/user-eric-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Johnny Fowler</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Chiropractor</p>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">11:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">12:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">12:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">1:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">1:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">2:00pm</span></td>
                          <td>
                            <div style="height:504%;" class="fc-event">
                              <div class="fc-event-wrap bg-java">
                                <div class="fc-event-inner"><img src="images/users/user-cristina-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Christina Holland</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">2:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">3:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:404%;" class="fc-event">
                              <div class="fc-event-wrap bg-java">
                                <div class="fc-event-inner"><img src="images/users/user-carolyn-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Christina Holland</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">3:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">4:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div>
                  <div class="calendar-responsive-mod-1 offset-top-30">
                    <table class="calendar-variant-2">
                      <thead>
                        <tr>
                          <th class="hours"><span class="veil reveal-md-inline">Hours</span></th>
                          <th>Monday</th>
                          <th>Tuesday</th>
                          <th>Wednesday</th>
                          <th>Thursday</th>
                          <th>Friday</th>
                          <th>Saturday</th>
                          <th>Sunday</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span class="text-gray-darker">8:00am<span class="veil reveal-lg-inline">-</span><br class="veil-lg">9:00am</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">9:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">10:00am</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">10:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">11:00am</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">11:00am<span class="veil reveal-lg-inline">–</span><br class="veil-lg">12:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:404%;" class="fc-event">
                              <div class="fc-event-wrap bg-carmine">
                                <div class="fc-event-inner"><img src="images/users/user-carolyn-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Martha Schmidt</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Licensed Massage Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">12:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">1:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">1:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">2:00pm</span></td>
                          <td>
                            <div style="height:504%;" class="fc-event">
                              <div class="fc-event-wrap bg-java">
                                <div class="fc-event-inner"><img src="images/users/user-cristina-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Christina Holland</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">2:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">3:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>
                            <div style="height:404%;" class="fc-event">
                              <div class="fc-event-wrap bg-java">
                                <div class="fc-event-inner"><img src="images/users/user-carolyn-50x50.jpg" width="50" height="50" alt="" class="img-responsive img-circle"/>
                                  <div class="text-white text-bold offset-top-10">Christina Holland</div>
                                  <p style="color: rgba(255,255,255, .4)" class="text-italic offset-top-4">Therapist</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td><span class="text-gray-darker">3:00pm<span class="veil reveal-lg-inline">–</span><br class="veil-lg">4:00pm</span></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
{% endblock %}

