{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">

<head>
    <!-- Site Title-->
    <title>{% block title %}Odontología{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="odontologia, uls, la serena, clinica, online">
    <meta name="description" content="Odontologia Universidad de La Serena">
    <meta name="date" content="Dec 18">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald%7CLato:400italic,400,700">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <!--[if lt IE 10]>
        <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
        <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Page-->
    <div class="page text-center">
        <!-- Page Head-->
        <header class="page-head">
            <!-- RD Navbar minimal-->
            {% block navegation %}{% include 'navegation.html' %}{% endblock %}
        </header>
        <!-- Page Contents-->
        <main class="page-content">
            <!-- Modern Breadcrumbs-->
            <section class="breadcrumb-modern context-dark text-md-left">
                <div class="shell section-34 section-md-top-110 section-md-bottom-41">
                    <h1>Equipo</h1>
                    <ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
                        <li><a href="/clinica">Clínica</a></li>
                        <li>Equipo</li>
                    </ul>
                </div>
            </section>
            <!-- Page Content-->
            <main class="page-content">
                <!-- Our team-->
                <section class="section-98 section-sm-50">
                    <div class="shell">
                        <div class="isotope-wrap">
                            <div class="row">
                                <!-- Isotope Filters-->
                                <div class="col-lg-3">
                                    <div class="isotope-filters isotope-filters-vertical">
                                        <h4 class="text-uppercase isotope-filters-title offset-top-34"> </h4>
                                        <ul class="list-inline list-inline-sm">
                                            <li class="veil-md"><p>Equipos</p></li>
                                            <li class="section-relative">
                                                <button data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true" class="isotope-filters-toggle btn btn-sm btn-default">Filtro<span class="caret"></span>
                                                </button>
                                                <ul id="isotope-1" class="list-sm-inline isotope-filters-list">
                                                    <li><a data-isotope-filter="Directores" data-isotope-group="gallery" href="#" class="active">Director Técnico</a></li>
                                                    <li><a data-isotope-filter="Enfermeras" data-isotope-group="gallery" href="#">Enfermeras </a></li>
                                                    <li><a data-isotope-filter="Tecnicos" data-isotope-group="gallery" href="#">Técnicos Dentales</a></li>
                                                    <li><a data-isotope-filter="Secretarias" data-isotope-group="gallery" href="#">Secretarias </a></li>
                                                    <li><a data-isotope-filter="Auxiliares" data-isotope-group="gallery" href="#">Auxiliares </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Isotope Content-->
                                <div class="col-lg-9 offset-lg-top-0 offset-top-34">
                                    <div data-isotope-layout="fitRows" data-isotope-group="gallery" class="isotope">
                                        <div data-photo-swipe-gallery="gallery" class="row text-sm-left">
                                            <div data-filter="Directores" class="col-md-12 isotope-item">
                                                <h3>Director Técnico</h3>
                                                <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                                                <div class="offset-top-41 offset-lg-top-60">
                                                    <div class="range range-xs-left">
                                                        {% for director in directores %}
                                                        <div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                                            <figure class="thumbnail-josip thumbnail-spacing">
                                                                <a href="#"><img width="270" height="270" src="{{ director.foto.url }}" alt=""/></a>
                                                                <div class="thumbnail-desc">
                                                                    <h5 class="thumbnail-josip-title text-bold text-white">{{ director.nombre_completo}}</h5>
                                                                </div>
                                                                <figcaption>
                                                                    <a href="#" class="btn btn-block btn-rect text-md-left btn-java">Perfil completo</a>
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-filter="Enfermeras" class="col-md-12 isotope-item">
                                                <h3>Enfermeras coordinadoras</h3>
                                                <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                                                <div class="offset-top-41 offset-lg-top-60">
                                                    <div class="range range-xs-left">
                                                        {% for enfermera in enfermeras %}
                                                        <div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                                            <figure class="thumbnail-josip thumbnail-spacing">
                                                                <a href="#"><img width="270" height="270" src="{{ enfermera.foto.url }}" alt=""/></a>
                                                                <div class="thumbnail-desc">
                                                                    <h5 class="thumbnail-josip-title text-bold text-white">{{ enfermera.nombre_completo}}</h5>
                                                                </div>
                                                                <figcaption>
                                                                    <a href="#" class="btn btn-block btn-rect text-md-left btn-java">Perfil completo</a>
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-filter="Tecnicos" class="col-md-12 isotope-item">
                                                <h3>Técnicos Dentales</h3>
                                                <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                                                <div class="offset-top-41 offset-lg-top-60">
                                                    <div class="range range-xs-left">
                                                        {% for tecnico in tecnicos %}
                                                        <div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                                            <figure class="thumbnail-josip thumbnail-spacing">
                                                                <a href="#"><img width="270" height="270" src="{{ tecnico.foto.url }}" alt=""/></a>
                                                                <div class="thumbnail-desc">
                                                                    <h5 class="thumbnail-josip-title text-bold text-white">{{ tecnico.nombre_completo}}</h5>
                                                                </div>
                                                                <figcaption>
                                                                    <a href="#" class="btn btn-block btn-rect text-md-left btn-java">Perfil completo</a>
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-filter="Secretarias" class="col-md-12 isotope-item">
                                                <h3>Secretarias Administrativas</h3>
                                                <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                                                <div class="offset-top-41 offset-lg-top-60">
                                                    <div class="range range-xs-left">
                                                        {% for secretaria in secretarias %}
                                                        <div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                                            <figure class="thumbnail-josip thumbnail-spacing">
                                                                <a href="#"><img width="270" height="270" src="{{ secretaria.foto.url }}" alt=""/></a>
                                                                <div class="thumbnail-desc">
                                                                    <h5 class="thumbnail-josip-title text-bold text-white">{{ secretaria.nombre_completo}}</h5>
                                                                </div>
                                                                <figcaption>
                                                                    <a href="#" class="btn btn-block btn-rect text-md-left btn-java">Perfil completo</a>
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-filter="Auxiliares" class="col-md-12 isotope-item">
                                                <h3>Auxiliares de Servicio</h3>
                                                <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                                                <div class="offset-top-41 offset-lg-top-60">
                                                    <div class="range range-xs-left">
                                                        {% for auxiliar in auxiliares %}
                                                        <div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                                            <figure class="thumbnail-josip thumbnail-spacing">
                                                                <a href="#"><img width="270" height="270" src="{{ auxiliar.foto.url }}" alt=""/></a>
                                                                <div class="thumbnail-desc">
                                                                    <h5 class="thumbnail-josip-title text-bold text-white">{{ auxiliar.nombre_completo}}</h5>
                                                                </div>
                                                                <figcaption>
                                                                    <a href="#" class="btn btn-block btn-rect text-md-left btn-java">Perfil completo</a>
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </main>
        <!-- Page Footer-->
        <!-- Default footer-->
        <footer class="section-relative section-34 section-md-66 page-footer bg-lighter context-light" id="footer-principal">
            {% block footer %}{% include 'carrera/footer.html' %}{% endblock %}
        </footer>
    </div>
    <!-- Java script-->
    <script type="text/javascript" src="{% static 'js/core.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>

</html>