{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">

<head>
    <!-- Site Title-->
    <title>{% block title %}Odontología{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="odontologia, uls, la serena, clinica, online">
    <meta name="description" content="Odontologia Universidad de La Serena">
    <meta name="date" content="Dec 18">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald%7CLato:400italic,400,700">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <!--[if lt IE 10]>
        <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
        <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Page-->
    <div class="page text-center">
        <!-- Page Head-->
        <header class="page-head">
            <!-- RD Navbar minimal-->
            {% block navegation %}{% include 'navegation.html' %}{% endblock %}
        </header>
        <!-- Page Contents-->
        <main class="page-content">
            <!-- Modern Breadcrumbs-->
            <section class="breadcrumb-modern context-dark text-md-left">
                <div class="shell section-34 section-md-top-110 section-md-bottom-41">
                    <h1>Equipo</h1>
                    <ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
                        <li><a href="/clinica">Clínica</a></li>
                        <li>Equipo</li>
                    </ul>
                </div>
            </section>
            <!-- Page Content-->
            <main class="page-content">
                <!-- Galeria de imagenes-->
                <section class="section-98 section-sm-50">
                    <div class="shell">
                        <div class="isotope-wrap">
                            <div class="row">
                                <!-- Galeria Filters-->
                                <div class="col-lg-12">
                                  <div class="isotope-filters isotope-filters-horizontal">
                                    <ul class="list-inline list-inline-sm">
                                      <li class="veil-md">
                                        <p>Seleccione una Galería:</p>
                                      </li>
                                      <li class="section-relative">
                                        <button data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true" class="isotope-filters-toggle btn btn-sm btn-default">Filtro<span class="caret"></span></button>
                                        <ul id="isotope-1" class="list-sm-inline isotope-filters-list">
                                          <li><a data-isotope-filter="*" data-isotope-group="gallery" href="#" class="active">Todas</a></li>
                                          {% for galeria in galerias %}
                                            <li><a data-isotope-filter="{{ galeria.nombre }}" data-isotope-group="gallery" href="#">{{ galeria.nombre }}</a></li>
                                          {% endfor %}  
                                        </ul>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <!-- Galeria Content-->
                                <div class="col-lg-12 offset-top-34">
                                  <div data-isotope-layout="fitRows" data-isotope-group="gallery" class="isotope">
                                    <div data-photo-swipe-gallery="gallery" class="row">
                                        {% for imagen in imagenes %}
                                          <div data-filter="{{ imagen.galeria }}" class="col-xs-12 col-sm-6 col-md-4 isotope-item"><a class="thumbnail-custom" data-photo-swipe-item="" data-size="1200x800" href="{{ imagen.url.url }}">
                                                    {% thumbnail imagen.url "370x240" crop="center" as im %}
                                                          <figure><img width="{{ im.width }}" height="{{ im.height }}" src="{{ im.url }}" alt="">
                                                            <figcaption class="thumbnail-custom-caption text-center">
                                                              <hr class="divider divider-xs bg-java">
                                                            </figcaption>
                                                          </figure></a>
                                                    {% endthumbnail %}
                                          </div>
                                        {% endfor %}
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </main>
        <!-- Page Footer-->
        <!-- Default footer-->
        <footer class="section-relative section-34 section-md-66 page-footer bg-lighter context-light" id="footer-principal">
            {% block footer %}{% include 'carrera/footer.html' %}{% endblock %}
        </footer>
    </div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script type="text/javascript" src="{% static 'js/core.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>

</html>