{% extends "clinica/base.html" %} 
{% load staticfiles %} 

{% block title %}Home{% endblock %} 

{% block content %}
<!--What makes us different-->
<section class="section-98 section-sm-110">
    <div class="shell">
        <h3>Marcamos la diferencia</h3>
        <hr class="divider divider-lg bg-primary">
        <div class="range offset-top-60">
            <div class="cell-md-4">
                <div class="icon icon-xlg icon-rect icon-default icon-pills-xl"></div>
                <h5 class="text-bold text-primary">88 sillones dentales</h5>
            </div>
            <div class="cell-md-4 offset-top-50 offset-md-top-0">
                <div class="icon icon-xlg icon-rect icon-default icon-doctor-xl"></div>
                <h5 class="text-bold text-primary">Unidad de Imagenología</h5>
            </div>
            <div class="cell-md-4 offset-top-50 offset-md-top-0">
                <div class="icon icon-xlg icon-rect icon-default icon-medical-car-xl"></div>
                <h5 class="text-bold text-primary">2 Pabellónes de Cirugía Menor</h5>
            </div>
        </div>
    </div>
</section>
{% endblock %}

