{% load staticfiles %}
<div data-loop="true" data-autoplay="true" data-height="" data-slide-effect="fade" data-dragable="false" data-min-height="400px" class="swiper-container swiper-slider bg-white">
    <div class="swiper-wrapper text-center">
        <div data-slide-bg="{% static 'images/intros/slide-07.jpg' %}" class="swiper-slide">
            <div class="swiper-caption">
                <div class="swiper-slide-caption">
                    <div class="shell bg-dark section-41 section-sm-98 section-md-bottom-167">
                        <h2>Infraestructura de<br class="veil reveal-md-block"> última tecnología</h2>
                        <h5 class="veil reveal-md-block">Te entregamos la infraestructura odontológica <br class="veil reveal-md-block"> más avanzada de la región.</h5>
                        <a href="/clinica/galeria" class="btn btn-ellipse btn-java offset-top-24">Galeria Fotos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>

