<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo">

<head>
    <!-- Site Title-->
    <title>Odontología</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="SANA design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald%7CLato:400italic,400,700">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Page-->
    <div class="page text-center">
        <!-- Page Head-->
        <header class="page-head">
            <!-- RD Navbar minimal-->
            <div class="rd-navbar-wrap">
                <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="120px" data-lg-stick-up-offset="120px" class="rd-navbar rd-navbar-minimal rd-navbar-light" data-lg-auto-height="true" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-top-panel">
                            <div>
                               <address class="contact-info reveal-sm-inline-block text-left offset-none">
                                    <div class="p unit unit-spacing-xs unit-horizontal">
                                        <div class="unit-left"><span class="icon icon-xs icon-circle icon-gray-light mdi mdi-phone text-java"></span></div>
                                        <div class="unit-body"><a href="callto:#" class="text-gray-darker">51 2 334658</a></div>
                                    </div>
                                </address>
                            </div>
                            <!--Navbar Brand-->
                            <div class="rd-navbar-brand veil reveal-md-inline-block">
                                <a href="#"><img width='316' height='57' class='img-responsive' src='images/logo.svg' alt=''/></a>
                            </div>
                            <div>
                                <address class="contact-info reveal-sm-inline-block text-left offset-none">
                                    <div class="p unit unit-horizontal unit-spacing-xs">
                                        <div class="unit-left"><span class="icon icon-xs icon-circle icon-gray-light mdi mdi-map-marker text-java"></span></div>
                                        <div class="unit-body"><a href="#" class="text-gray-darker">Avenida Juan Cisternas #...<br/>La Serena</a></div>
                                    </div>
                                </address>
                            </div>
                        </div>
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                            <!--Navbar Brand-->
                            <div class="rd-navbar-brand veil-md"><a href="#"><img width='316' height='57' class='img-responsive' src='images/logo.png' alt=''/></a></div>
                            <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel" class="rd-navbar-top-panel-toggle"><span></span></button>
                        </div>
                        <div class="rd-navbar-menu-wrap">
                            <div class="rd-navbar-nav-wrap">
                                <div class="rd-navbar-mobile-scroll">
                                    <!-- RD Navbar Nav-->
                                    <ul class="rd-navbar-nav">
                                        <li class="active"><a href="#"><span>Inicio</span></a>
                                        </li>
                                        <li><a href="#"><span>Carrera</span></a>
                                            <ul class="rd-navbar-dropdown">
                                                <li><a href="#"><span class="text-middle">Plan Estudios</span></a>
                                                </li>
                                                <li><a href="#"><span class="text-middle">Perfil Profesional</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#"><span>Docentes</span></a>
                                        </li>
                                        <li><a href="#"><span>Clínica</span></a>
                                        </li>
                                        <li><a href="contenido.html"><span>Contacto</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!--Swiper-->
            <div data-loop="true" data-autoplay="true" data-height="" data-slide-effect="fade" data-dragable="false" data-min-height="400px" class="swiper-container swiper-slider bg-white">
                <div class="swiper-wrapper text-center">
                    <div id="page-loader" data-slide-bg="images/intros/slide-04.jpg" class="swiper-slide">
                        <div class="swiper-caption">
                            <div class="swiper-slide-caption">
                                <div class="shell bg-dark section-41 section-sm-98 section-md-bottom-167">
                                    <h2>Creando nuevos profesionales <br class="veil reveal-md-block">en el área de la salud</h2>
                                    <h5 class="veil reveal-md-block">Para una mejor calidad de vida en la Región de Coquimbo
                </h5><a href="#" class="btn btn-ellipse btn-java offset-top-24">Programa de Estudios</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-slide-bg="images/intros/slide-05.jpg" class="swiper-slide">
                        <div class="swiper-caption">
                            <div class="swiper-slide-caption">
                                <div class="shell bg-dark section-41 section-sm-98 section-md-bottom-167">
                                    <h2>Infraestructura de<br class="veil reveal-md-block"> última tecnología
                    </h2>
                                    <h5 class="veil reveal-md-block">Te entregamos la infraestructura odontológica <br class="veil reveal-md-block"> más avanzada de la región.
                    </h5><a href="#" class="btn btn-ellipse btn-java offset-top-24">Infraestructura</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-slide-bg="images/intros/slide-06.jpg" class="swiper-slide">
                        <div class="swiper-caption">
                            <div class="swiper-slide-caption">
                                <div class="shell bg-dark section-41 section-sm-98 section-md-bottom-167">
                                    <h2>Mejor equipamiento <br class="veil reveal-md-block"> pedagógico
                    </h2>
                                    <h5 class="veil reveal-md-block">Dispondrás de herramientas que te permitirás<br class="veil reveal-md-block"> optimizar tu aprendizaje.
                    </h5><a href="#" class="btn btn-ellipse btn-java offset-top-24">Equipamiento</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </header>
        <!-- Page Contents-->
        <main class="page-content">
            <!-- What makes us different-->
            <!--What makes us different-->
            <section class="section-98 section-sm-110">
                <div class="shell">
                    <h3>Marcamos la diferencia</h3>
                    <hr class="divider divider-lg bg-primary">
                    <div class="range offset-top-60">
                        <div class="cell-md-4">
                            <div class="icon icon-xlg icon-rect icon-default icon-pills-xl"></div>
                            <h5 class="text-bold text-primary">Ciencia, humanidad y tecnología</h5>
                            <p>La carrera de Odontología tiene una fuerte formación científica, humanista y tecnológica.</p>
                        </div>
                        <div class="cell-md-4 offset-top-50 offset-md-top-0">
                            <div class="icon icon-xlg icon-rect icon-default icon-doctor-xl"></div>
                            <h5 class="text-bold text-primary">Responsabilidad Social</h5>
                            <p>Sólidos principios éticos y responsabilidad social</p>
                        </div>
                        <div class="cell-md-4 offset-top-50 offset-md-top-0">
                            <div class="icon icon-xlg icon-rect icon-default icon-medical-car-xl"></div>
                            <h5 class="text-bold text-primary">Ciencias biomédicas</h5>
                            <p>Énfasis en las ciencias biomédicas básicas, técnicas y clínicas para entender las condiciones normales y patologías</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action-->
            <section class="rd-parallax">
                <div data-speed="0.2" data-type="media" data-url="images/backgrounds/background-03-1920x610.jpg" class="rd-parallax-layer"></div>
                <div data-speed="0" data-type="html" class="rd-parallax-layer section-98 section-sm-110 context-dark">
                    <div class="shell text-center">
                        <h2>Campo Ocupacional</h2>
                        <p class="offset-top-30 text-gray-light">El Cirujano Dentista puede ejercer libremente la profesión en atención clínica 
                            <br class="veil reveal-md-block"> de pacientes en el ámbito público y privado, área urbana y rural, redes asistenciales de atención primaria y nivel secundario.
                        </p>
                        <div class="offset-top-30"><a href="#" class="btn btn-ellipse btn-java">Admisión</a></div>
                    </div>
                </div>
            </section>
            <!-- Our Team-->
            <section>
                <div class="shell" style='padding:50px 0 50px 0;'>
                    <h3>Nuestros Docentes</h3>
                    <hr class="divider divider-lg bg-primary">
                    <div class="offset-top-41 offset-md-top-60">
                        <p>Profesionales con gran prestigio académico</p>
                    </div>
                </div>
                <div class="reveal-md-flex range-xs-center">
                    <!-- Thumbnail Josip-->
                    <figure class="thumbnail-josip thumbnail-big odd"><a href="#"><img width="384" height="410" src="images/pages/our-team-05-384x410.jpg" alt=""/></a>
                        <div class="thumbnail-desc">
                            <h5 class="thumbnail-josip-title text-bold text-white">Cristian Marín</h5>
                            <p class="veil reveal-md-block text-italic text-white offset-top-0">Odontólogo</p>
                        </div>
                        <figcaption><a href="#" class="btn btn-block btn-rect text-md-left btn-java">ver perfil</a></figcaption>
                    </figure>
                    <!-- Thumbnail Josip-->
                    <figure class="thumbnail-josip thumbnail-big offset-top-41 offset-md-top-0"><a href="#"><img width="384" height="410" src="images/pages/our-team-06-384x410.jpg" alt=""/></a>
                        <div class="thumbnail-desc">
                            <h5 class="thumbnail-josip-title text-bold text-white">Pedro Calderón</h5>
                            <p class="veil reveal-md-block text-italic text-white offset-top-0">Odontólogo</p>
                        </div>
                        <figcaption><a href="#" class="btn btn-block btn-rect text-md-left btn-java">ver perfil</a></figcaption>
                    </figure>
                    <!-- Thumbnail Josip-->
                    <figure class="thumbnail-josip thumbnail-big offset-top-41 offset-md-top-0 odd"><a href="#"><img width="384" height="410" src="images/pages/our-team-07-384x410.jpg" alt=""/></a>
                        <div class="thumbnail-desc">
                            <h5 class="thumbnail-josip-title text-bold text-white">Oscar Monardez</h5>
                            <p class="veil reveal-md-block text-italic text-white offset-top-0">Odontólogo</p>
                        </div>
                        <figcaption><a href="#" class="btn btn-block btn-rect text-md-left btn-java">ver perfil</a></figcaption>
                    </figure>
                    <!-- Thumbnail Josip-->
                    <figure class="thumbnail-josip thumbnail-big offset-top-41 offset-md-top-0"><a href="#"><img width="384" height="410" src="images/pages/our-team-08-384x410.jpg" alt=""/></a>
                        <div class="thumbnail-desc">
                            <h5 class="thumbnail-josip-title text-bold text-white">Claudia Saavedra</h5>
                            <p class="veil reveal-md-block text-italic text-white offset-top-0">Odontólogo</p>
                        </div>
                        <figcaption><a href="#" class="btn btn-block btn-rect text-md-left btn-java">ver perfil</a></figcaption>
                    </figure>
                    <!-- Thumbnail Josip-->
                    <figure class="thumbnail-josip thumbnail-big offset-top-41 offset-md-top-0 odd"><a href="#"><img width="384" height="410" src="images/pages/our-team-09-384x410.jpg" alt=""/></a>
                        <div class="thumbnail-desc">
                            <h5 class="thumbnail-josip-title text-bold text-white">Rosa Muñoz</h5>
                            <p class="veil reveal-md-block text-italic text-white offset-top-0">Odontólogo</p>
                        </div>
                        <figcaption><a href="#" class="btn btn-block btn-rect text-md-left btn-java">ver perfil</a></figcaption>
                    </figure>
                </div>
            </section>
            <!-- Latest blog posts-->
            <section class="section-98 section-sm-110">
                <div class="shell">
                    <h3>Noticias</h3>
                    <hr class="divider divider-lg bg-primary">
                    <div class="range range-xs-center offset-top-60">
                        <div class="cell-sm-8 cell-md-4">
                            <!-- Post Modern-->
                            <article class="post post-modern post-modern-classic">
                                <!-- Post media-->
                                <header class="post-media"><img width="370" height="250" src="images/blog/post-13-370x250.jpg" alt="" class="img-responsive img-cover" />
                                </header>
                                <!-- Post content-->
                                <section class="post-content text-left">
                                    <!-- Post Title-->
                                    <div class="post-title offset-top-8">
                                        <h4 class="text-bold"><a href="#">Noticia 1</a></h4>
                                    </div>
                                    <ul class="list-inline list-inline-dashed">
                                        <li>Junio 21, 2017 8:12pm</li>
                                        <li><a href="#" class="text-primary">autor 1</a></li>
                                    </ul>
                                    <!-- Post Body-->
                                    <div class="post-body">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et...</p>
                                    </div>
                                    <div class="tags group group-sm">
                                    </div>
                                </section>
                            </article>
                        </div>
                        <div class="cell-sm-8 cell-md-4 offset-top-50 offset-md-top-0">
                            <!-- Post Modern-->
                            <article class="post post-modern post-modern-classic">
                                <!-- Post media-->
                                <header class="post-media"><img width="370" height="250" src="images/blog/post-14-370x250.jpg" alt="" class="img-responsive img-cover" />
                                </header>
                                <!-- Post content-->
                                <section class="post-content text-left">
                                    <!-- Post Title-->
                                    <div class="post-title offset-top-8">
                                        <h4 class="text-bold"><a href="#">Noticia 2</a></h4>
                                    </div>
                                    <ul class="list-inline list-inline-dashed">
                                        <li>Junio 21, 2017 8:12pm</li>
                                        <li><a href="#" class="text-primary">Autor 2</a></li>
                                    </ul>
                                    <!-- Post Body-->
                                    <div class="post-body">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et...</p>
                                    </div>
                                    <div class="tags group group-sm">
                                    </div>
                                </section>
                            </article>
                        </div>
                        <div class="cell-sm-8 cell-md-4 offset-top-50 offset-md-top-0">
                            <!-- Post Modern-->
                            <article class="post post-modern post-modern-classic">
                                <!-- Post media-->
                                <header class="post-media"><img width="370" height="250" src="images/blog/post-15-370x250.jpg" alt="" class="img-responsive img-cover" />
                                </header>
                                <!-- Post content-->
                                <section class="post-content text-left">
                                    <!-- Post Title-->
                                    <div class="post-title offset-top-8">
                                        <h4 class="text-bold"><a href="#">Noticia 3</a></h4>
                                    </div>
                                    <ul class="list-inline list-inline-dashed">
                                        <li>Junio 21, 2017 8:12pm</li>
                                        <li><a href="#" class="text-primary">Autor 3</a></li>
                                    </ul>
                                    <!-- Post Body-->
                                    <div class="post-body">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et...</p>
                                    </div>
                                    <div class="tags group group-sm">
                                    </div>
                                </section>
                            </article>
                        </div>
                    </div>
                    <div class="offset-top-50"><a href="#" class="btn btn-ellipse btn-java">Ver todas las noticias</a></div>
                </div>
            </section>
            <!-- Organigrama -->
            <section class="section-98 section-sm-110">
                <div class="shell">
                    <h3>Organigrama</h3>
                    <hr class="divider divider-lg bg-primary">
                    <div class="offset-top-41 offset-md-top-60">
                        <p></p>
                    </div>
                </div>
                <div>
                    <img width="60%" height="auto" src="images/carrera/organigrama_carrera.svg" alt="organigrama" />
                </div>
                <hr />
                <div>
                    <img width="60%" height="auto" src="images/carrera/organigrama_clinica.svg" alt="organigrama" />
                </div>
            </section>
            <!-- Malla -->
            <section class="section-98 section-sm-110">
                <div class="shell">
                    <h3>Malla de la Carrera</h3>
                    <hr class="divider divider-lg bg-primary">
                    <div class="offset-top-41 offset-md-top-60">
                        <p></p>
                    </div>
                </div>
                <div>
                    <img width="98%" height="auto" src="images/carrera/malla_carrera.svg" alt="malla" />
                </div>
            </section>
            <!-- Estructura -->
            <section class="section-98 section-sm-110">
                <div class="shell">
                    <h3>Estructura Organizacional</h3>
                    <hr class="divider divider-lg bg-primary">
                    <div class="offset-top-41 offset-md-top-60">
                        <p></p>
                    </div>
                </div>
                <div>
                    <img width="98%" height="auto" src="images/carrera/estructura_carrera.svg" alt="estructura" />
                </div>
            </section>
            <!-- Google map-->
            <!-- RD Google Map-->
            <!--
            <div class="rd-google-map">
                <div id="rd-google-map" data-zoom="16" data-x="-71.242617" data-y="-29.910487" data-styles='[{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#b4d4e1"},{"visibility":"on"}]}]' class="rd-google-map__model"></div>
                <ul class="rd-google-map__locations">
                    <li data-x="-71.242617" data-y="-29.910487">
                        <p>Clinica Odontologíca de la Universidad de La Serena</p>
                    </li>
                </ul>
            </div>
            -->
        </main>
        <!-- Page Footer-->
        <!-- Default footer-->
        <footer id="footer-principal" class="section-relative section-34 section-md-66 page-footer bg-lighter context-light">
            <div class="shell-wide">
                <div class="inset-xl-left-30">
                    <div class="range range-sm-center">
                        <div class="cell-sm-8 cell-md-12">
                            <div class="range range-md-justify range-md-middle">
                                <div class="cell-md-4 cell-md-push-1 text-md-left">
                                    <!-- Footer brand-->
                                    <div class="footer-brand reveal-inline-block"><a href="#"><img width='316' height='57' class='img-responsive' src='images/logo-dark.svg' alt=''/></a></div>
                                </div>
                                <div class="cell-md-4 offset-top-55 offset-md-top-0 cell-md-push-3 text-md-right">
                                    <ul class="list-inline">
                                        <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-gray-light-2"></a></li>
                                        <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-gray-light-2"></a></li>
                                        <li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-gray-light-2"></a></li>
                                        <li><a href="#" class="icon fa fa-rss icon-xxs icon-circle icon-gray-light-2"></a></li>
                                    </ul>
                                </div>
                                <div class="cell-md-4 offset-top-55 offset-md-top-0 cell-md-push-2">
                                    <p class="text-gray">&copy; <span id="copyright-year"></span> Todos los derechos reservados. <a href="#" class="text-gray">Campus Digital</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>