{% extends "carrera/basecontenido.html" %} 
{% load staticfiles %} 
{% block title %}Odontología{% endblock %} 
{% block content %} 
<!-- Modern Breadcrumbs-->
<section class="breadcrumb-modern context-dark text-md-left">
    <div class="shell section-34 section-md-top-110 section-md-bottom-41">
        <h1>Actividad</h1>
        <ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
            <li><a href="/">Carrera</a></li>
            <li><a href="{% url 'actividades' %}">Actividades</a></li>
            <li>Actividad</li>
        </ul>
    </div>
</section>
<!-- Page Content-->
<main class="page-content">
    <section class="section-98 section-sm-50 section-lg-bottom-0">
        <div class="shell text-left">
            <div class="range range-xs-center">
                <div class="cell-md-10 cell-lg-8">
                  <div class="range">
                    <div class="cell-sm-12">
                      <h4 class="text-bold text-primary">{{ actividad.titulo }}</h4>
                      <ul class="list list-inline list-inline-dashed offset-top-4">
                        <li>{{ actividad.inicio|date:"d M Y, H:i" }} hrs</li>
                        <li>{{ actividad.cierre|date:"d M Y, H:i" }} hrs</li>
                      </ul>
                      <div class="offset-top-30"><img src="{{ actividad.imagen.url }}" width="770" height="480" alt="" class="img-responsive center-block"></div>
                      <div class="offset-top-30">
                        {% autoescape off %}
                            {{ actividad.descripcion }}
                        {% endautoescape %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cell-sm-10 cell-md-8 cell-lg-4 offset-top-66 offset-md-top-90 offset-lg-top-0">
                   <div class="blog-grid-sidebar inset-lg-left-30">
                      <!-- Archive-->
                      <div class="offset-top-30 offset-md-top-60">
                        <h6>Archive</h6>
                        <hr class="text-subline">
                      </div>
                      <div class="offset-top-14 offset-md-top-20">
                        <div class="range range-xs-center range-lg-left">
                          <div class="cell-xs-6 cell-lg-5">
                            <!-- List Marked-->
                            <ul class="list list-marked inset-left-0 list-marked-icon text-dark list-marked-gray">
                              <li><a href="#">Jan 2016</a></li>
                              <li><a href="#">Mar 2016</a></li>
                              <li><a href="#">May 2016</a></li>
                              <li><a href="#">Jul 2016</a></li>
                            </ul>
                          </div>
                          <div class="cell-xs-6 cell-lg-5 offset-top-10 offset-xs-top-0 inset-xs-left-5">
                            <!-- List Marked-->
                            <ul class="list list-marked inset-left-0 list-marked-icon text-dark list-marked-gray">
                              <li><a href="#">Feb 2016</a></li>
                              <li><a href="#">Apr 2016</a></li>
                              <li><a href="#">Jun 2016</a></li>
                            </ul>
                          </div>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

