{% extends "carrera/basecontenido.html" %} 
{% load staticfiles %} 
{% block title %}Odontología{% endblock %} 
{% block content %} 
<!-- Modern Breadcrumbs-->
<section class="breadcrumb-modern context-dark text-md-left">
    <div class="shell section-34 section-md-top-110 section-md-bottom-41">
        <h1>Actividades</h1>
        <ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
            <li><a href="/">Carrera</a></li>
            <li>Actividades</li>
        </ul>
    </div>
</section>
<!-- Page Content-->
<main class="page-content">
    <section class="section-98 section-sm-50 section-lg-bottom-0">
        <div class="shell text-left">
            <div class="range range-xs-center">
                <div class="cell-md-10 cell-lg-8">
                  <div class="range">
                    {% if actividades %}
                      {% for actividad in actividades %}
                        <div class="cell-sm-6">
                          <article class="post post-modern post-modern-classic post-modern-classic-full">
                            <!-- Post media-->
                            <header class="post-media">
                              <a href="{% url 'detalle' actid=actividad.id %}">
                                <img width="770" height="480" src="{{ actividad.imagen.url }}" alt="" class="img-responsive img-cover"/>
                              </a>
                            </header>
                            <!-- Post content-->
                            <section class="post-content text-left">
                              <!-- Post Title-->
                              <div class="post-title offset-top-8">
                                <h4 class="text-bold"><a href="{% url 'detalle' actid=actividad.id %}">{{ actividad.titulo }}</a></h4>
                              </div>
                              <ul class="list-inline list-inline-dashed">
                                <li>{{ actividad.inicio|date:"d M Y, H:i" }} hrs</li>
                                <li>{{ actividad.cierre|date:"d M Y, H:i" }} hrs</li>
                              </ul>
                              <!-- Post Body-->
                              <div class="post-body">
                                {% autoescape off %}
                                    {{ actividad.descripcion|truncatechars:200 }}
                                {% endautoescape %}
                              </div>
                              <!--
                              <div class="tags group group-sm"><a href="#" class="btn-tag btn btn-default">Health</a><a href="#" class="btn-tag btn btn-default">Care</a><a href="#" class="btn-tag btn btn-default">Chiropractic</a>
                              </div>
                              -->
                            </section>
                          </article>
                        </div>
                      {% endfor %}
                      <!-- Classic Pagination-->
                      <div class="offset-top-50 offset-lg-top-60 text-lg-left">
                        <nav>
                          <ul class="pagination-classic">
                            <li>
                              {% if actividades.has_previous %}
                                <a href="?page={{ actividades.previous_page_number }}" class="btn btn-java">
                              {% else %}
                                <a href="#" class="btn btn-java disabled">
                              {% endif %}
                              <span class="fa-chevron-left" aria-hidden="true"></span></a>
                            </li>
                            {% for a in actividades.paginator.page_range %}
                              {% if actividades.number == a %}
                                <li class="active"><span class="btn btn-java">{{ a }}</span></li>
                              {% else %}
                                <li><a href="?page={{ a }}" class="btn btn-java">{{ a }}</a></li>
                              {% endif %}
                            {% endfor %}
                            <li>
                              {% if actividades.has_next %} 
                                <a href="?page={{ actividades.next_page_number }}" class="btn btn-java">
                              {% else %}
                                <a href="#" class="btn btn-java disabled">
                              {% endif %}
                              <span class="fa-chevron-right" aria-hidden="true"></span></a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    {% else %}
                      <div class="cell-sm-12">
                        <div class="offset-top-30 offset-md-top-60">
                          <h6 style="text-align:left">Actualmente no existen actividades.</h6>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div class="cell-sm-10 cell-md-8 cell-lg-4 offset-top-66 offset-md-top-90 offset-lg-top-0">
                   <div class="blog-grid-sidebar inset-lg-left-30">
                      <!-- Archive-->
                      <div class="offset-top-30 offset-md-top-60">
                        <h6>Archive</h6>
                        <hr class="text-subline">
                      </div>
                      <div class="offset-top-14 offset-md-top-20">
                        <div class="range range-xs-center range-lg-left">
                          <div class="cell-xs-6 cell-lg-5">
                            <!-- List Marked-->
                            <ul class="list list-marked inset-left-0 list-marked-icon text-dark list-marked-gray">
                              <li><a href="#">Jan 2016</a></li>
                              <li><a href="#">Mar 2016</a></li>
                              <li><a href="#">May 2016</a></li>
                              <li><a href="#">Jul 2016</a></li>
                            </ul>
                          </div>
                          <div class="cell-xs-6 cell-lg-5 offset-top-10 offset-xs-top-0 inset-xs-left-5">
                            <!-- List Marked-->
                            <ul class="list list-marked inset-left-0 list-marked-icon text-dark list-marked-gray">
                              <li><a href="#">Feb 2016</a></li>
                              <li><a href="#">Apr 2016</a></li>
                              <li><a href="#">Jun 2016</a></li>
                            </ul>
                          </div>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

