{% extends "carrera/basecontenido.html" %}
{% load staticfiles %}

{% block title %}Equipo Directivo{% endblock %}

{% block content %}
<!-- What makes us different-->
<!--What makes us different-->
<!-- Modern Breadcrumbs-->
<section class="breadcrumb-modern context-dark text-md-left">
    <div class="shell section-34 section-md-top-110 section-md-bottom-41">
        <h1>Equipo Directivo</h1>
        <ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
            <li><a href="/">Carrera</a></li>
            <li>Equipo Directivo</li>
        </ul>
    </div>
</section>
<!-- Page Content-->
<main class="page-content">

  <!-- Our team-->
  <section class="section-98 section-sm-50">
      <div class="shell">
          <div class="isotope-wrap">
              <div class="row">
                  <!-- Isotope Filters-->
                  <div class="col-lg-3">
                      <div class="isotope-filters isotope-filters-vertical">
                          <h4 class="text-uppercase isotope-filters-title offset-top-34"> </h4>
                          <ul class="list-inline list-inline-sm">
                              <li class="veil-md"><p>Equipos</p></li>
                              <li class="section-relative">
                                  <button data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true" class="isotope-filters-toggle btn btn-sm btn-default">Filtro<span class="caret"></span>
                                  </button>
                                  <ul id="isotope-1" class="list-sm-inline isotope-filters-list">
                                      <li><a data-isotope-filter="rehabilitacion_orales" data-isotope-group="gallery" href="#" class="active">Dirección</a></li>
                                      <li><a data-isotope-filter="odontopediatrias" data-isotope-group="gallery" href="#">Administración</a></li>
                                      <li><a data-isotope-filter="periodoncias" data-isotope-group="gallery" href="#">Coordinación</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <!-- Isotope Content-->
                  <div class="col-lg-9 offset-lg-top-0 offset-top-34">
                      <div data-isotope-layout="fitRows" data-isotope-group="gallery" class="isotope">
                          <div data-photo-swipe-gallery="gallery" class="row text-sm-left">
                              <div data-filter="rehabilitacion_orales" class="col-md-12 isotope-item">
                                  <h3>Dirección</h3>
                                  <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                                  <div class="offset-top-41 offset-lg-top-60">
                                      <div class="range range-xs-left">
                                          {% for director in directores %}
                                          <!--div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                              <figure class="thumbnail-josip thumbnail-spacing">
                                                  <img src="{{ director.foto.url }}" alt=""/>
                                                  <div class="thumbnail-desc" style="padding: 10px 10px 20px; text-align:center">
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ director.nombres }}</h6>
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ director.apellido_paterno }}</h6>
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ director.titulo }}</h6>
                                                  </div>
                                                  <-!--figcaption>
                                                    <a type="button" class="btn btn-block btn-rect text-md-center btn-java" data-toggle="modal" data-target="#rehabilitacion_{{ rehabilitacion.id }}">
                                                      ver perfil completo
                                                    </a>
                                                  </figcaption->
                                              </figure>
                                          </div-->
                                          <div class="col-md-4">
                                            <div class="profile-card">
                                              <div class="profile-img">
                                                <img src="{{ director.foto.url }}" alt="Team Image"/>
                                              </div>
                                              <div class="profile-content">
                                                <h2 class="title">{{ director.nombres }} {{ director.apellido_paterno }} {{ director.apellido_materno }}
                                                  <span>{{ director.cargo }}</span>
                                                </h2>
                                              </div>
                                            </div>
                                          </div>
                                          {% endfor %}
                                      </div>
                                  </div>
                              </div>
                              <div data-filter="odontopediatrias" class="col-md-12 isotope-item">
                                  <h3>Administración</h3>
                                  <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                                  <div class="offset-top-41 offset-lg-top-60">
                                      <div class="range range-xs-left">
                                          {% for administrador in administradores %}
                                          <!--div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                              <figure class="thumbnail-josip thumbnail-spacing">
                                                  <img width="270" height="270" src="{{ administrador.foto.url }}" alt=""/>
                                                  <div class="thumbnail-desc" style="padding: 10px 10px 20px; text-align:center">
                                                    <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ administrador.nombres }}</h6>
                                                    <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ administrador.apellido_paterno }}</h6>
                                                    <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ administrador.cargo }}</h6>
                                                  </div-->
                                                  <!--figcaption>
                                                    <a type="button" class="btn btn-block btn-rect text-md-center btn-java" data-toggle="modal" data-target="#odontopediatria_{{ odontopediatria.id }}">
                                                      ver perfil completo
                                                    </a>
                                                  </figcaption-->
                                              <!--/figure>
                                          </div-->
                                          <div class="col-md-4">
                                            <div class="profile-card">
                                              <div class="profile-img">
                                                <img src="{{ administrador.foto.url }}" alt="Team Image"/>
                                              </div>
                                              <div class="profile-content">
                                                <h2 class="title">{{ administrador.nombres }} {{ administrador.apellido_paterno }} {{ administrador.apellido_materno }}
                                                  <span>{{ administrador.cargo }}</span>
                                                </h2>
                                              </div>
                                            </div>
                                          </div>
                                          {% endfor %}
                                      </div>
                                  </div>
                              </div>
                              <div data-filter="periodoncias" class="col-md-12 isotope-item">
                                  <h3>Coordinación</h3>
                                  <hr class="divider divider-lg hr-sm-left-2 bg-primary">
                                  <div class="offset-top-41 offset-lg-top-60">
                                      <div class="range range-xs-left">
                                          {% for coordinador in coordinadores %}
                                          <!--div class="cell-xs-8 cell-sm-7 cell-md-4 offset-top-41 offset-md-top-0">
                                              <figure class="thumbnail-josip thumbnail-spacing">
                                                  <img width="270" height="270" src="{{ coordinador.foto.url }}" alt=""/>
                                                  <div class="thumbnail-desc" style="padding: 10px 10px 20px; text-align:center">
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ coordinador.nombre }}</h6>
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ coordinador.apellido_paterno }}</h6>
                                                      <h6 class="thumbnail-josip-title text-bold text-white" style="margin: 0px;">{{ coordinador.cargo }}</h6>
                                                  </div-->
                                                  <!--figcaption>
                                                    <a type="button" class="btn btn-block btn-rect text-md-center btn-java" data-toggle="modal" data-target="#periodoncia_{{ periodoncia.id }}">
                                                      ver perfil completo
                                                    </a>
                                                  </figcaption-->
                                              <!--/figure>
                                          </div-->
                                          <div class="col-md-4">
                                            <div class="profile-card">
                                              <div class="profile-img">
                                                <img src="{{ coordinador.foto.url }}" alt="Team Image"/>
                                              </div>
                                              <div class="profile-content">
                                                <h2 class="title">{{ coordinador.nombres }} {{ coordinador.apellido_paterno }} {{ coordinador.apellido_materno }}
                                                  <span>{{ coordinador.cargo }}</span>
                                                </h2>
                                              </div>
                                            </div>
                                          </div>
                                          {% endfor %}
                                      </div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </section>
</main>
{% endblock %}
