{% load staticfiles %}
<nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="120px" data-lg-stick-up-offset="120px" class="rd-navbar rd-navbar-minimal rd-navbar-light" data-lg-auto-height="true" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
    <div class="rd-navbar-inner">
        <div class="rd-navbar-top-panel">
            <div>
                <address class="contact-info reveal-sm-inline-block text-left offset-none">
                    <div class="p unit unit-spacing-xs unit-horizontal">
                        <div class="unit-left"><span class="icon icon-xs icon-circle icon-gray-light mdi mdi-phone text-java"></span></div>
                        <div class="unit-body"><a href="callto:#" class="text-gray-darker">51 2 334658</a></div>
                    </div>
                </address>
            </div>
            <!--Navbar Brand-->
            <div class="rd-navbar-brand veil reveal-md-inline-block"><a href="index.html"><img width='316' height='57' class='img-responsive' src='{% static 'images/logo-dark.png' %}' alt=''/></a></div>
            <div>
                <address class="contact-info reveal-sm-inline-block text-left">
                    <div class="p unit unit-horizontal unit-spacing-xs">
                        <div class="unit-left"><span class="icon icon-xs icon-circle icon-gray-light mdi mdi-map-marker text-java"></span></div>
                        <div class="unit-body"><a href="#" class="text-gray-darker">Avenida Juan Cisternas 2283<br/>La Serena</a></div>
                    </div>
                </address>
            </div>
        </div>
        <!-- RD Navbar Panel-->
        <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
            <!--Navbar Brand-->
            <div class="rd-navbar-brand veil-md"><a href="index.html"><img width='316' height='57' class='img-responsive' src='{% static 'images/logo-dark.png' %}' alt=''/></a></div>
            <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel" class="rd-navbar-top-panel-toggle"><span></span></button>
        </div>
        <div class="rd-navbar-menu-wrap">
            <div class="rd-navbar-nav-wrap">
                <div class="rd-navbar-mobile-scroll">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                        <li class="active"><a href="/"><span>Inicio</span></a>
                        </li>    
                        <li><a href="#"><span>Adminisón</span></a>
                        </li>
                        <li><a href="#"><span>Carrera</span></a>
                            <ul class="rd-navbar-dropdown">
                                <li><a href="#"><span class="text-middle">Plan Estudios</span></a>
                                </li>
                                <li><a href="#"><span class="text-middle">Perfil Profesional</span></a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/docentes"><span>Docentes</span></a>
                        </li>
                        <li><a href="#"><span>Clínica</span></a>
                        </li>
                        <li><a href="#"><span>Contacto</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
