{% load staticfiles %}
{% load etiquetas %}
<div class="rd-navbar-wrap">
    <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="120px" data-lg-stick-up-offset="120px" class="rd-navbar rd-navbar-minimal rd-navbar-light" data-lg-auto-height="true" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
        <div class="rd-navbar-inner">
            <div class="rd-navbar-top-panel">
                <div>
                    <address class="contact-info reveal-sm-inline-block text-left offset-none">
                        <div class="p unit unit-spacing-xs unit-horizontal">
                            <div class="unit-left"><span class="icon icon-xs icon-circle icon-gray-light mdi mdi-phone text-java"></span></div>
                            <div class="unit-body"><a href="callto:#" class="text-gray-darker">51 2 334658</a></div>
                        </div>
                    </address>
                </div>
                <!--Navbar Brand-->
                <div class="rd-navbar-brand veil reveal-md-inline-block"><a href="index.html"><img width='316' height='57' class='img-responsive' src='{% static 'images/logo.png' %}' alt=''/></a></div>
                <div>
                    <address class="contact-info reveal-sm-inline-block text-left">
                        <div class="p unit unit-horizontal unit-spacing-xs">
                            <div class="unit-left"><span class="icon icon-xs icon-circle icon-gray-light mdi mdi-map-marker text-java"></span></div>
                            <div class="unit-body"><a href="#" class="text-gray-darker">Avenida Juan Cisternas 2283<br/>La Serena</a></div>
                        </div>
                    </address>
                </div>
            </div>
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!--Navbar Brand-->
                <div class="rd-navbar-brand veil-md"><a href="index.html"><img width='316' height='57' class='img-responsive' src='{% static 'images/logo-dark.png' %}' alt=''/></a></div>
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel" class="rd-navbar-top-panel-toggle"><span></span></button>
            </div>
            <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                    <div class="rd-navbar-mobile-scroll">
                        <!-- RD Navbar Nav-->
                        <ul class="rd-navbar-nav">
                            <li class="{% active_menu '^[/]$' %}"><a href="/"><span>Inicio</span></a></li>
                            <li class="{% active_menu '^(/carrera/)(or|ob|pl|pe)([a-z]+)' %}"><a href="#"><span>Quienes Somos</span></a>
                                <ul class="rd-navbar-dropdown">
                                    <li><a href="/carrera/organigrama"><span class="text-middle">Organigrama</span></a>
                                    <li><a href="/carrera/objetivos"><span class="text-middle">Misión - Visión</span></a>
                                    <li><a href="/carrera/plan"><span class="text-middle">Plan Estudios</span></a></li>
                                    <li><a href="/carrera/perfile"><span class="text-middle">Perfil Egresado</span></a></li>
                                    <li><a href="/carrera/perfilp"><span class="text-middle">Perfil Profesional</span></a></li>
                                </ul>
                            </li>
                            <li class="{% active_menu '^(/carrera/)(ad)([a-z]+)' %}"><a href="/carrera/admision"><span>Admisión</span></a></li>
                            <li class="{% active_menu '/clinica' %}"><a href="/clinica"><span>Clínica</span></a>
                                <ul class="rd-navbar-dropdown">
                                    <li><a href="/clinica/organigrama"><span class="text-middle">Organigrama</span></a></li>
                                    <li><a href="#"><span class="text-middle">Servicios</span></a>
                                        <ul class="rd-navbar-dropdown2">
                                            <li><a href="/clinica/servicios/odontologia"><span class="text-middle">Odontología</span></a></li>
                                            <li><a href="/clinica/servicios/imagenologia"><span class="text-middle">Imagenología</span></a></li>                       
                                        </ul>
                                    </li>
                                    <li><a href="/clinica/equipo"><span class="text-middle">Equipo</span></a></li>
                                    <li><a href="/clinica/catedra"><span class="text-middle">Cátedras</span></a></li>  
                                    <li><a href="/clinica/paciente"><span class="text-middle">Paciente</span></a></li>                                                 
                                </ul>  
                            </li>
                            <li class="{% active_menu '^(/carrera/)(co)([a-z]+)' %}"><a href="/carrera/contacto"><span>Contacto</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
