{% load staticfiles %}
{% load etiquetas %}
{% load servicios %}
<div class="rd-navbar-wrap">
    <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="120px" data-lg-stick-up-offset="120px" class="rd-navbar rd-navbar-minimal rd-navbar-light" data-lg-auto-height="true" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
        <div class="rd-navbar-inner">
            <div class="rd-navbar-top-panel">
                <div>
                    <a href="http://www.userena.cl/">
                        <img width='316' height='57' class='img-responsive' src="{% static 'images/logo-uls-blue.svg' %}" alt='logo-uls'/>
                    </a>
                </div>
                <div class="rd-navbar-brand veil reveal-md-inline-block">
                    <a href="/">
                        <img width='316' height='57' class='img-responsive' src="{% static 'images/logo-odonto-dark.svg' %}" alt='logo-odonto'/>
                    </a>
                </div>
                <div>
                    <address class="contact-info reveal-sm-inline-block text-left">
                        <div class="p unit unit-horizontal unit-spacing-xs">
                            <div class="unit-left"><span class="icon icon-xs icon-circle icon-gray-light mdi mdi-map-marker text-java"></span></div>
                            <div class="unit-body"><a href="/carrera/contacto/#ubicacion" class="text-gray-darker">Avenida Juan Cisternas 1015<br/>La Serena</a></div>
                        </div>
                    </address>
                </div>
            </div>
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!--Navbar Brand-->
                <div class="rd-navbar-brand veil-md"><a href="index.html"><img width='316' height='57' class='img-responsive' src="{% static 'images/logo.svg' %}" alt='logo'/></a></div>
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel" class="rd-navbar-top-panel-toggle"><span></span></button>
            </div>
            <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                    <div class="rd-navbar-mobile-scroll">
                        <!-- RD Navbar Nav-->
                        <ul class="rd-navbar-nav">
                            <li class="{% active_menu '^[/]$' %}"><a href="/"><span>Inicio</span></a></li>
                            <li class="{% active_menu '^(/carrera/)(or|ob|pl|pe)([a-z]+)' %}"><a href="#"><span>Quienes Somos</span></a>
                                <ul class="rd-navbar-dropdown">
                                    <li><a href="/carrera/organigrama"><span class="text-middle">Organigrama</span></a></li>
                                    <li><a href="/carrera/objetivos"><span class="text-middle">Misión - Visión</span></a></li>
                                    <li><a href="/carrera/docentes"><span class="text-middle">Académicos</span></a></li>
                                    <li><a href="/carrera/plan"><span class="text-middle">Plan Estudios</span></a></li>
                                    <li><a href="/carrera/perfile"><span class="text-middle">Perfil Egresado</span></a></li>
                                    <li><a href="/carrera/perfilp"><span class="text-middle">Perfil Profesional</span></a></li>
                                </ul>
                            </li>
                            <li class="{% active_menu '^(/carrera/)(ad)([a-z]+)' %}"><a href="/carrera/admision"><span>Admisión</span></a></li>
                            <li class="{% active_menu '/clinica' %}"><a href="#"><span>Clínica</span></a>
                                <ul class="rd-navbar-dropdown">
                                    <li><a href="/clinica/organigrama"><span class="text-middle">Organigrama</span></a></li>
                                    <li><a href="#"><span class="text-middle">Servicios</span></a>
                                        <ul class="rd-navbar-dropdown2">
                                            {% servicios %}
                                        </ul>
                                    </li>
                                    <li><a href="/clinica/equipo"><span class="text-middle">Equipo</span></a></li>
                                    <!--<li><a href="/clinica/catedra"><span class="text-middle">Cátedras</span></a></li> -->
                                    <li><a href="/clinica/galeria"><span class="text-middle">Galería Fotos</span></a></li>
                                    <li><a href="/clinica/faq"><span class="text-middle">Preguntas Frecuentes</span></a></li>
                                </ul>
                            </li>
                            <li class="{% active_menu '^(/carrera/)(co)([a-z]+)' %}"><a href="/carrera/contacto"><span>Contacto</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
