@charset "UTF-8";

footer#footer-principal {
    /* background-color: #696969; */
    background-color: #08184E;
    margin-top: 50px;
}

div.after-footer {
    background-color: #606060;
    color: #f1f1f1;
    font-weight: 200;
}

/* Barra titulos contenido */

div.section-md-bottom-41 {
    padding-bottom: 20px;
}

div.section-md-top-110 {
    padding-top: 60px;
}

.context-dark h1 {
    font-size: 60px;
    text-shadow: #214e83 2px 2px 2px;
}

html .page .offset-md-top-70 {
    margin-top: 40px;
}

section.breadcrumb-modern {
    background-image: url('../images/textura.svg');
}


/* Menu */

.rd-navbar-minimal.rd-navbar-static .rd-navbar-dropdown {
    border-radius: 0px 0px 5px 5px;
}

.rd-navbar-minimal.rd-navbar-static .rd-navbar-dropdown2 {
    position: absolute;
    top: 0px;
    left: 225px;
    z-index: 1;
    width: 200px;
    padding: 0;
    visibility: hidden;
    transition: .3s all ease;
    text-align: left;
    opacity: 0;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px 5px 5px 0px;
    background-color: #ffffff;
}

.rd-navbar-default.rd-navbar-static .rd-navbar-dropdown2:before,
.rd-navbar-minimal.rd-navbar-static .rd-navbar-dropdown2:before,
.rd-navbar-floated.rd-navbar-static .rd-navbar-dropdown2:before,
.rd-navbar-top-panel.rd-navbar-static .rd-navbar-dropdown2:before,
.rd-navbar-logo-center.rd-navbar-static .rd-navbar-dropdown2:before {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 14px;
    font-family: "FontAwesome";
    line-height: 14px;
    content: " ";
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: .3s all ease;
    border-right: 8px solid #ffffff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    margin-top: -25px;
    margin-left: -8px;
}

.rd-navbar-default.rd-navbar-static .rd-navbar-dropdown li:hover .rd-navbar-dropdown2,
.rd-navbar-minimal.rd-navbar-static .rd-navbar-dropdown li:hover .rd-navbar-dropdown2,
.rd-navbar-floated.rd-navbar-static .rd-navbar-dropdown li:hover .rd-navbar-dropdown2,
.rd-navbar-top-panel.rd-navbar-static .rd-navbar-dropdown li:hover .rd-navbar-dropdown2,
.rd-navbar-logo-center.rd-navbar-static .rd-navbar-dropdown li:hover .rd-navbar-dropdown2 {
    opacity: 1;
    visibility: visible;
}


/* Equipo */

figure.thumbnail-spacing {
	margin-bottom: 25px;
}

/* Iconos */

.icon-rayos-md:before,
.icon-rayos-xl:before,
.icon-compromiso-md:before,
.icon-compromiso-xl:before,
.icon-sillon-md:before,
.icon-sillon-xl:before,
.icon-biomedicina-md:before,
.icon-biomedicina-xl:before,
.icon-tecnologia-md:before,
.icon-tecnologia-xl:before,
.icon-doctor-md:before,
.icon-doctor-xl:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-rayos-xl:before {
    background-image: url("../images/icons/icon_rayos.svg");
}

.icon-sillon-xl:before {
    background-image: url("../images/icons/icon_sillon.svg");
}

.icon-doctor-xl:before {
    background-image: url("../images/icons/icon_doctor.svg");
}

.icon-biomedicina-xl:before {
    background-image: url("../images/icons/icon_biomedicas.svg");
}

.icon-compromiso-xl:before {
    background-image: url("../images/icons/icon_compromiso.svg");
}

.icon-tecnologia-xl:before {
    background-image: url("../images/icons/icon_tecnologia.svg");
}

/* Galeria */

.thumbnail-custom:before {
    background: rgba(78, 170, 215, 0.7);
}

/* Banner */

div.swiper-container h2,
div.swiper-container h5 {
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

div.swiper-container h5,
div.swiper-container a {
    margin-top: 10px;
}

/* Tweets */

div.loading {
    text-align: center;
    width: 100%;
}

div#twitter_section div.owl-item{
    height: 250px;
    overflow: auto;
    background-color: #F1F3F9;
    border: 1px solid rgba(0,0,0,.1);
}

div#twitter_section div.item-tweet {
    padding: 5px;
    position: relative;
}

div#twitter_section div.owl-item a.btn-tweet {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 30px;
    right: 5px;
}

div#twitter_section div.owl-item a.btn-tweet i {
    font-style: normal;
}

div#twitter_section div.unit-body p.subtitle {
    font-style: italic;
    text-align: left;
    color: #bdbdbd;
    padding: 0px;
    margin: 0px;
    font-size: 1em;
    line-height: 1.2em;
}

div#twitter_section div.quote-body p.text {
    font-size: 1.1em;
    text-align: center;
}

div#twitter_section div.owl-item hr.linea {
    padding:0;
    margin: 5px 0 5px 0;
    border: 1px solid rgba(0,0,0,.1);
}

div#instagram_section div.item-instagram {
    padding: 5px;
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
    overflow: hidden;
}

div#instagram_section img.img-instagram {
    width: 100%;
    height: 100%;
}

div#instagram_section div.img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(33,78,131,0.8);
    text-align: center;
    transition: transform 300ms;
    transform: translate3d(0, calc(101%), 0);
    display: flex;
    padding: 10px;
    border: 1px solid #fff;
}

div#instagram_section a.box-instagram:hover > div.img-overlay {
    transition: transform 300ms;
    transform: translate3d(0, 0, 0);
}

div#instagram_section div.img-overlay div{
    margin: 5px;
    border: 1px solid #f2f2f2;
    display: flex;
}

div#instagram_section div.img-overlay div p{
    text-align: center;
    padding: 10px;
    color: #fff;
    vertical-align: middle;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    margin:auto;
}

div#instagram_section div.img-overlay i.fa-instagram {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-style: normal;
}

@media (min-width: 992px) {
    div#instagram_section div.item-instagram {
        width: 250px;
        height: 250px;
    }
}

/* Actividad */

article.post.post-modern.post-modern-classic.post-modern-classic-full {
    margin-bottom: 40px;
}

/* Video index */

section.marco-video iframe{
    width: 100%;
    height: 300px;
    padding: 10px 10px 0px 10px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
}

section.marco-video p.msg{
    padding: 15px;
    font-size: 16px;
    height: 50px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

section.marco-video span.fa-quote-left{
    margin-right: 5px;
    color: #dedede;
}

section.marco-video span.fa-quote-right{
    margin-left: 5px;
    color: #dedede;
}

section.section-100-up{
    padding-top: 100px;
}

section.section-150-up{
    padding-top: 150px;
}

section.section-100-down{
    padding-bottom: 100px;
}

section.section-150-down{
    padding-bottom: 150px;
}

section.section-70-up{
    padding-top: 70px;
}

section.section-30-down{
    padding-bottom: 30px;
}

/* Coordinaciones */

.profile-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);
}

.profile-card:hover .profile-img img {
  transform: scale(1.2);
}

.profile-card .profile-img img {
  width: 100%;
  height: auto;
  transition: transform 1s;
}

.profile-card .profile-content::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 50%;
  height: 40%;
  border: 3px solid #f2f2f2;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: scale(1, 1);
  transition: all 0.50s linear;
}

.profile-card .profile-content::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 50%;
  height: 40%;
  border: 3px solid #f2f2f2;
  border-left: 3px solid transparent;
  border-top: 3px solid transparent;
  transition: all 0.50s linear;

}

.profile-card:hover .profile-content:before {
  top: 20px;
  left: 20px;
}

.profile-card:hover .profile-content:after {
  bottom: 20px;
  right: 20px;
}

.profile-card .profile-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50% 4%;
  text-align: center;

}

.profile-card .profile-content:hover {
  background-color: rgba(33,78,131,0.5);
}

.profile-card .profile-content .title {
  font-size: 26px;
  color: #fff;
  text-shadow: 0 0 3px #214e83;
  padding: 0px 10px 0 10px;
  opacity: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: translateY(-100px);
  transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}

.profile-card:hover .title {
  opacity: 1;
  transform: translateY(-10px);
}

.profile-card:hover .title::after {
  content: "";
  display: block;
  width: 50%;
  margin: 10px auto;
  border-bottom: 2px solid #f2f2f2;
}

.profile-card .profile-content .title > span {
  display: block;
  margin: 8px 0;
  font-size: 14px;
  text-transform: capitalize;
}

.profile-card .profile-content .social-link {
  margin: 20px 0;
  padding: 0;
  opacity: 0;
  transform: translateY(100px);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}

.profile-card:hover .social-link {
  opacity: 1;
  transform: translateY(0);
}

.profile-card .profile-content .social-link li {
  display: inline-block;
  list-style: none;
  margin: 0 4px;
}

.profile-card .profile-content .social-link li a {
  color: #333;
  width: 30px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
}

/* Documentos */

div .unit.unit-horizontal.unit-middle.unit-space{
  margin-bottom: 20px;
}

div.unit-body a.doc-title{
  text-transform: capitalize;
}

div.unit-body p.doc-descripcion{
  padding: 0px;
  margin: 0px;
  line-height: 1.1;
}