@charset "UTF-8";

footer#footer-principal{
	background-color: #696969;
}

div.after-footer{
	background-color: #606060;
	color: #f1f1f1;
	font-weight: 200;
}

div.swiper-container h2,
div.swiper-container h5{
	text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
}

