{% extends "carrera/basecontenido.html" %}
{% load staticfiles %}

{% block title %}Actividades{% endblock %}

{% block content %}
<!-- Modern Breadcrumbs-->
<section class="breadcrumb-modern context-dark text-md-left">
    <div class="shell section-34 section-md-top-110 section-md-bottom-41">
        <h1>Actividades</h1>
        <ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
            <li><a href="/">Odontología</a></li>
            <li>Actividades</li>
        </ul>
    </div>
</section>
<!-- Page Content-->
<main class="page-content">
  <!-- alternative accordion-->
  <section class="section-98 section-sm-50 section-lg-bottom-0">
    <div class="shell text-left">
      <div class="range range-xs-center range-md-left">
        <div class="cell-sm-12">
          <h3 class="text-sm-left">Actividades de Vinculación</h3>
          <hr class="divider divider-lg bg-java hr-sm-left-2">
          <div class="offset-sm-top-60 text-left">
            <!-- Bootstrap Accordion-->
            <div role="tablist" aria-multiselectable="true" id="accordion-1" class="panel-group accordion offset-top-0">
              <div class="panel panel-default">
                <div role="tab" id="headingOne" class="panel-heading">
                  <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapseOne" aria-expanded="true" class="collapsed">Actividades de vinculación según grupos de interés</a></div>
                </div>

                <div role="tabpanel" aria-labelledby="headingOne" id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body" style="background-color: #FFFFFF !important; color: #000000 !important">
                    Las actividades de Vinculación con el Medio son clasificadas según el grupo de interés al cual está dirigida la actividad, la cual debe ser bilateral y generar un impacto significativo y medible tanto al medio externo como interno, como se evidencia en la siguiente tabla:

                    <div class="offset-top-20 offset-md-top-20">
                        <h6>Grupos de interés</h6>
                        <div class="offset-top-10">
                            <hr class="text-subline">
                        </div>
                        <div class="offset-top-30">
                          <table data-responsive="true" class="table table-custom table-primary table-fixed" style="text-align:justify" width="80%">
                            <tr>
                              <th width="1%" style="text-aling:center !important;">#</th>
                              <th width="16%" style="text-aling:center !important; text-transform: uppercase;">Actividad</th>
                              <th width="40%" style="text-aling:center !important; text-transform: uppercase;">Descripción</th>
                              <th width="27%" style="text-aling:center !important; text-transform: uppercase;">Objetivos asociados a carrera o programa</th>
                              <th width="6%" style="text-aling:center !important; text-transform: uppercase;">Año</th>
                              <th width="10%" style="text-aling:center !important; text-transform: uppercase;">Grupos de interés</th>
                            </tr>

                            {% for grupo in grupos_interes %}
                            <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{% autoescape off %}{{ grupo.actividad }}{% endautoescape %}</td>
                              <td>{% autoescape off %}{{ grupo.descripcion }}{% endautoescape %}</td>
                              <td>{% autoescape off %}{{ grupo.objetivo }}{% endautoescape %}</td>
                              <td>{{ grupo.anio }}</td>
                              <td>{% autoescape off %}{{ grupo.grupo_interes }}{% endautoescape %}</td>
                            </tr>
                            {% endfor %}
                          </table>
                        </div>
                    </div> <!-- offset-top-20 -->
                  </div> <!-- class="panel-body" -->
                </div> <!-- role="tabpanel" -->
              </div> <!-- class="panel panel-default" -->

              <div class="panel panel-default">
                <div role="tab" id="headingTwo" class="panel-heading">
                  <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapseTwo" aria-expanded="true" class="collapsed">	Actividades de vinculación de tipo científico y productivo</a></div>
                </div>
                <div role="tabpanel" aria-labelledby="headingTwo" id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body" style="background-color: #FFFFFF !important; color: #000000 !important">
                    La Carrera de Odontología entiende y considera importante dentro sus funciones como comunidad universitaria, la necesidad de promover la vinculación de sus docentes y estudiantes con ideas, información y trabajos de profesionales o expertos externos a la Institución, por lo mismo fomenta la participación, tanto como expositores y asistentes, a encuentros de interés científico y/o productivos. <br><br>

                    A continuación, en la Tabla se describen las principales actividades de los últimos 5 años, en la cual los docentes o estudiantes han participado.

                    <div class="offset-top-20 offset-md-top-20">
                      <h6>Tipo científico y productivo</h6>
                      <div class="offset-top-10">
                          <hr class="text-subline">
                      </div>
                      <div class="offset-top-30">
                        <table data-responsive="true" class="table table-custom table-primary table-fixed" style="text-align:justify">
                          <tr>
                            <th width="2%">#</th>
                            <th width="40%" style="text-aling:center !important; text-transform: uppercase;">Actividad</th>
                            <th width="50%" style="text-aling:center !important; text-transform: uppercase;">Descripción</th>
                            <th width="8%" style="text-aling:center !important; text-transform: uppercase;">Año</th>
                          </tr>
                          {% for cientifico in cientificos %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{% autoescape off %}{{ cientifico.actividad }}{% endautoescape %}</td>
                            <td>{% autoescape off %}{{ cientifico.descripcion }}{% endautoescape %}</td>
                            <td>{% autoescape off %}{{ cientifico.anio }}{% endautoescape %}</td>
                          </tr>
                          {% endfor %}
                        </table>
                      </div>
                    </div> <!-- offset-top-20 -->
                  </div> <!-- class="panel-body" -->
                </div> <!-- role="tabpanel" -->
              </div> <!-- class="panel panel-default" -->

              <div class="panel panel-default">
                <div role="tab" id="headingThree" class="panel-heading">
                  <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapseThree" aria-expanded="true" class="collapsed">Vinculación a través de la contribución al desarrollo de políticas públicas</a></div>
                </div>
                <div role="tabpanel" aria-labelledby="headingThree" id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body" style="background-color: #FFFFFF !important; color: #000000 !important">La carrera ha tenido una importante y activa participación apoyando iniciativas intersectoriales e instituciones públicas. Dentro de este punto, se destaca la participación en la Mesa Intersectorial en Salud Bucal de la Región de Coquimbo, actividad presidida por el Secretario Regional Ministerial de Salud, quien convoca a participar en el fortalecimiento de iniciativas de fomento y protección de la salud bucal. Dentro de estas iniciativas se puede señalar las siguientes:

                    <div class="offset-top-30">
                      <table data-responsive="true" class="table table-custom table-primary table-fixed" style="text-align:justify">
                        <tr>
                          <th width="10%" style="text-aling:center !important; text-transform: uppercase;">Fecha</th>
                          <th width="25%" style="text-aling:center !important; text-transform: uppercase;">Institución externa</th>
                          <th width="30%" style="text-aling:center !important; text-transform: uppercase;">Objetivo de la reunión</th>
                          <th width="35%" style="text-aling:center !important; text-transform: uppercase;">Tipo de participación</th>
                        </tr>

                        {% for participacion in participaciones %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{% autoescape off %}{{ participacion.institucion_externa }}{% endautoescape %}</td>
                          <td>{% autoescape off %}{{ participacion.objetivo_reunion }}{% endautoescape %}</td>
                          <td>{% autoescape off %}{{ participacion.tipo_participacion }}{% endautoescape %}</td>
                        </tr>
                        {% endfor %}
                      </table>
                    </div>

                    <br><br>

                    <div class="offset-top-20 offset-md-top-20">
                      <h6>Contribución al desarrollo de políticas públicas</h6>
                      <div class="offset-top-10">
                          <hr class="text-subline">
                      </div>
                      <div class="offset-top-30">
                        {% for tipo in tipos %}
                          <h6>{{ tipo.descripcion }}</h6>
                          <table data-responsive="true" class="table table-custom table-primary table-fixed" style="text-align:justify">
                            <tr>
                              <th width="2%">#</th>
                              <th width="25%" style="text-aling:center !important; text-transform: uppercase;">Actividad</th>
                              <th width="32%" style="text-aling:center !important; text-transform: uppercase;">Descripción</th>
                              <th width="25%" style="text-aling:center !important; text-transform: uppercase;">Participantes</th>
                              <th width="6%" style="text-aling:center !important; text-transform: uppercase;">Año</th>
                              <th width="10%" style="text-aling:center !important; text-transform: uppercase;">Grupos de interés</th>
                            </tr>
                            {% for politica in politicas %}
                              {% if politica.tipo_id == tipo.id %}
                                <tr>
                                  <td>{{ politica.id }}</td>
                                  <td>{{ politica.actividad }}</td>
                                  <td>{{ politica.descripcion }}</td>
                                  <td>{{ politica.participantes }}</td>
                                  <td>{{ politica.anio }}</td>
                                  <td>{{ politica.grupo_interes }}</td>
                                </tr>
                              {% endif %}
                            {% endfor %}
                          </table>
                          <br/><br/>
                        {% endfor %}




                      </div>
                    </div> <!-- offset-top-20 -->
                  </div> <!-- class="panel-body" -->

                </div> <!-- role="tabpanel" -->
              </div> <!-- class="panel panel-default" -->

              <div class="offset-top-60 offset-md-top-60">
                <h6>Número de beneficiarios en clínicas odontológicas durante el periodo 2016-2020*</h6>
                <div class="offset-top-10">
                    <hr class="text-subline">
                </div>
                <div class="offset-top-30">
                    <table data-responsive="true" class="table table-custom table-primary table-fixed" style="width:100%">
                      <tr>
                        <th style="width:25%">Años</th>
                        <th width="15%">2016</th>
                        <th width="15%">2017</th>
                        <th width="15%">2018</th>
                        <th width="15%">2019</th>
                        <th width="15%">2020**</th>
                      </tr>
                      <tr>
                        <td>Beneficiarios</td>
                        <td>1132</td>
                        <td>1901</td>
                        <td>2147</td>
                        <td>2358</td>
                        <td>104</td>
                      </tr>
                    </table>
                    <p>* Cifra entregada en informes semestrales de fichas clínicas.<br>** Cifra consolidada de prestaciones al 28/09/2020.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock %}
