{% extends "carrera/basecontenido.html" %}
{% load staticfiles %}

{% block title %}Investigación{% endblock %}

{% block content %}
<!-- Modern Breadcrumbs-->
<section class="breadcrumb-modern context-dark text-md-left">
    <div class="shell section-34 section-md-top-110 section-md-bottom-41">
        <h1>Noticias</h1>
        <ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
            <li><a href="/">Odontología</a></li>
            <li>Noticias</li>
        </ul>
    </div>
</section>
<!-- Page Content-->
<main class="page-content">
  <!-- Our Customers-->
  <section class="section-98 section-sm-110">
    <div class="shell">
      <h3>En desarrollo...</h3>
    </div>
  </section>
</main>
{% endblock %}
