{% extends "carrera/basecontenido.html" %} 
{% load staticfiles %} 
{% block title %}Odontología{% endblock %} 
{% block content %} 
<!-- Modern Breadcrumbs-->
<section class="breadcrumb-modern context-dark text-md-left">
    <div class="shell section-34 section-md-top-110 section-md-bottom-41">
        <h1>Cienciometría</h1>
        <ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
            <li><a href="/">Investigación</a></li>
            <li>Cenciometría</li>
        </ul>
    </div>
</section>
<!-- Page Content-->
<main class="page-content">
    <section class="section-98 section-sm-50 section-lg-bottom-0">
        <div class="shell text-left">
            <div class="range range-xs-center">
                <div class="cell-sm-12 cell-lg-12">
                    <h3>Actividades o publicaciones de investigación</h3>
                    <hr class="divider divider-lg bg-primary">
                    <div class="row col-md-10 col-md-offset-1 text-center">
                        <table class="table table-bordered table-hover text-center">
                            <tr>
                                <th class="text-center">Año</th>
                                <th class="text-center">N° de actividades o publicaciones asociadas a investigación</th>
                                <th class="text-center">N° de actividades o publicaciones asociadas a educación</th>
                            </tr>
                            <tr>
                                <td>2014</td>
                                <td>0</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>2015</td>
                                <td>6</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>2016</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2017</td>
                                <td>10</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>2018</td>
                                <td>10</td>
                                <td>21</td>
                            </tr>
                            <tr>
                                <td>2019</td>
                                <td>14</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>2020</td>
                                <td>6</td>
                                <td>14</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}