{% extends "carrera/basecontenido.html" %}
{% load staticfiles %}
{% block title %}Odontología{% endblock %}
{% block content %}
<!-- Modern Breadcrumbs-->
<section class="breadcrumb-modern context-dark text-md-left">
    <div class="shell section-34 section-md-top-110 section-md-bottom-41">
        <h1>Productividad</h1>
        <ul class="list-inline list-inline-arrows p offset-top-34 offset-md-top-70">
            <li><a href="/">Investigación</a></li>
            <li>Productividad</li>
        </ul>
    </div>
</section>
<!-- Page Content-->
<main class="page-content">
    <section class="section-98 section-sm-50 section-lg-bottom-0">
        <div class="shell text-left">
            <div class="range range-xs-center">
                <div class="cell-sm-12 cell-lg-12">
                    <h3>Actividades o publicaciones de investigación</h3>
                    <hr class="divider divider-lg bg-java hr-left-0 hr-sm-left-2">
                    <div class="row col-md-12">
                        <table data-responsive="true" class="table table-custom table-primary table-fixed" style="width:100%">
                            <tr>
                                <th class="text-center">Año</th>
                                <th class="text-center">N° de actividades o publicaciones asociadas a investigación</th>
                                <th class="text-center">N° de actividades o publicaciones asociadas a educación</th>
                            </tr>
                            <tr>
                                <td>2014</td>
                                <td align="center">0</td>
                                <td align="center">2</td>
                            </tr>
                            <tr>
                                <td>2015</td>
                                <td align="center">6</td>
                                <td align="center">4</td>
                            </tr>
                            <tr>
                                <td>2016</td>
                                <td align="center">0</td>
                                <td align="center">0</td>
                            </tr>
                            <tr>
                                <td>2017</td>
                                <td align="center">10</td>
                                <td align="center">3</td>
                            </tr>
                            <tr>
                                <td>2018</td>
                                <td align="center">10</td>
                                <td align="center">21</td>
                            </tr>
                            <tr>
                                <td>2019</td>
                                <td align="center">14</td>
                                <td align="center">3</td>
                            </tr>
                            <tr>
                                <td>2020</td>
                                <td align="center">6</td>
                                <td align="center">14</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
